[2020-03-11 17:26] thaliawww-service opened #6 "Login functionality"
In GitLab by @wkuipers on Feb 7, 2017, 17:03

Users should be able to log in, and retrieve a ThaliApp token through logging in.

* [ ]  Update server-side API
* [ ]   Implement logging in
* [ ]   Implement logging out
* [ ]   Investigate token revocation/death of old age

[2020-03-11 17:26] thaliawww-service commented on #6
In GitLab by @wkuipers on Feb 7, 2017, 17:03

marked the task **Update server-side API** as completed

[2020-03-11 17:26] thaliawww-service commented on #6
In GitLab by @wkuipers on Feb 7, 2017, 17:03

marked the task **Update server-side API** as incomplete

[2020-03-11 17:26] thaliawww-service commented on #6
In GitLab by abos on Feb 15, 2017, 19:53

assigned to (at)abos

[2020-03-11 17:26] thaliawww-service commented on #6
In GitLab by @wkuipers on Mar 8, 2017, 19:59

closed

[2020-03-11 17:26] #6 closed

[2020-03-11 17:26] thaliawww-service opened #7 "Styling"
In GitLab by @wkuipers on Feb 7, 2017, 17:10

The app is not styled at all.

* [x]  Convert the Thalia styleguide to a [StyleSheet](https://facebook.github.io/react-native/docs/stylesheet.html)
* [ ]  Style ALL the elements
* [ ]  Make the layout good

[2020-03-11 17:26] thaliawww-service commented on #7
In GitLab by @wkuipers on May 28, 2017, 15:26

marked the task **Convert the Thalia styleguide to a [StyleSheet](https://facebook.github.io/react-native/docs/stylesheet.html)** as completed

[2020-03-11 17:26] thaliawww-service commented on #7
In GitLab by @wkuipers on May 31, 2017, 20:20

marked the task **Style ALL the elements** as completed

[2020-03-11 17:26] thaliawww-service commented on #7
In GitLab by @wkuipers on May 31, 2017, 20:20

marked the task **Make the layout good** as completed

[2020-03-11 17:26] thaliawww-service commented on #7
In GitLab by @wkuipers on May 31, 2017, 20:20

marked the task **Make the layout good** as incomplete

[2020-03-11 17:26] thaliawww-service commented on #7
In GitLab by @wkuipers on May 31, 2017, 20:20

marked the task **Style ALL the elements** as incomplete

[2020-03-11 17:26] thaliawww-service commented on #7
In GitLab by @wkuipers on Jun 7, 2017, 14:50

closed

[2020-03-11 17:26] #7 closed

[2020-03-11 17:26] thaliawww-service opened #8 "iOS building"
In GitLab by @wkuipers on Feb 7, 2017, 17:12

Find out whether we can build for iOS using the Mac computer in the New Devices Lab

[2020-03-11 17:26] thaliawww-service commented on #8
In GitLab by @wkuipers on May 28, 2017, 15:26

@se-bastiaan managed to build on his laptop :bottle_with_popping_cork:

[2020-03-11 17:26] thaliawww-service commented on #8
In GitLab by @thomwiggers on May 31, 2017, 18:29

closed

[2020-03-11 17:26] #8 closed

[2020-03-11 17:26] thaliawww-service opened #9 "Age/membership verification"
In GitLab by @wkuipers on Feb 7, 2017, 17:14

Enable users to verify another user's age and membership status

[2020-03-11 17:27] thaliawww-service commented on #9
In GitLab by @wkuipers on Apr 12, 2017, 21:01

removed milestone

[2020-03-11 17:27] thaliawww-service commented on #9
In GitLab by thijsdejong on Sep 11, 2019, 20:52

We are not going to do this, the purpose of the app is different.

[2020-03-11 17:27] thaliawww-service commented on #9
In GitLab by thijsdejong on Sep 11, 2019, 20:52

closed

[2020-03-11 17:27] #9 closed

[2020-03-11 17:27] thaliawww-service opened #10 "Implementing snapshot testing!"
In GitLab by @wkuipers on Feb 7, 2017, 17:18

Snapshot test our app
https://facebook.github.io/jest/docs/tutorial-react-native.html

[2020-03-11 17:27] thaliawww-service commented on #10
In GitLab by nwessel on Mar 1, 2017, 21:11

assigned to (at)nwessel

[2020-03-11 17:27] thaliawww-service commented on #10
In GitLab by @se-bastiaan on Mar 25, 2018, 17:48

unassigned (at)nwessel

[2020-03-11 17:27] thaliawww-service commented on #10
In GitLab by @se-bastiaan on Mar 27, 2018, 11:39

I'd say this is partially done, enough to say that it is implemented. And we also have #48 for tests in general.

[2020-03-11 17:27] thaliawww-service commented on #10
In GitLab by @se-bastiaan on Mar 27, 2018, 11:39

closed

[2020-03-11 17:27] #10 closed

[2020-03-11 17:27] thaliawww-service opened #11 "Navigation code improvements"
In GitLab by @wkuipers on Feb 14, 2017, 21:21

The current navigation system is rather crude code-wise.
Possible improvements:

*  Implement the basic flow(login -> welcome screen with sidebar)

[2020-03-11 17:27] thaliawww-service commented on #11
In GitLab by @wkuipers on Feb 22, 2017, 21:09

assigned to @gijshendriksen

[2020-03-11 17:27] thaliawww-service commented on #11
In GitLab by @wkuipers on Mar 8, 2017, 19:59

closed

[2020-03-11 17:27] #11 closed

[2020-03-11 17:27] thaliawww-service opened #12 "Verjaardagskaart Thom"
In GitLab by @wkuipers on Mar 2, 2017, 19:39

Beste Thom,

Ik wou een geweldigde obfuscatie over je verjaardagskaart leggen, maar toen ben ik de sleutel vergeten.
Gelukkig heb ik wel twee berichten weten te ondertekenen met ElGamal, misschien dat je de sleutel nog kunt afleiden?

PS: Mijn random generator liep volgens mij vast

PPS: In de ciphertext staat de sleutel om het bestand archive.7z wat i

[2020-03-11 17:27] thaliawww-service commented on #12
In GitLab by @wkuipers on Mar 8, 2017, 19:58

closed

[2020-03-11 17:27] #12 closed

[2020-03-11 17:27] thaliawww-service opened #13 "Profile view"
In GitLab by @wkuipers on Mar 8, 2017, 20:00

Allow users to view their profile akin to https://thalia.nu/members/profile/1030

[2020-03-11 17:27] thaliawww-service commented on #13
In GitLab by @wkuipers on Mar 8, 2017, 20:04

assigned to (at)nwessel

[2020-03-11 17:27] thaliawww-service commented on #13
In GitLab by @wkuipers on Jun 16, 2017, 17:04

closed via commit aee77d623f330387e1ed4092624599a1950f2ace

[2020-03-11 17:27] thaliawww-service commented on #13
In GitLab by @wkuipers on Jun 16, 2017, 17:04

closed via merge request !43

[2020-03-11 17:27] thaliawww-service commented on #13
In GitLab by @wkuipers on Jun 16, 2017, 17:12

mentioned in commit aee77d623f330387e1ed4092624599a1950f2ace

[2020-03-11 17:27] #13 closed

[2020-03-11 17:27] thaliawww-service opened #14 "Store state locally"
In GitLab by @wkuipers on Mar 8, 2017, 20:01

The Store needs to be stored locally so that users dont have to login every time

[2020-03-11 17:27] thaliawww-service commented on #14
In GitLab by @wkuipers on Mar 8, 2017, 20:05

assigned to @gijshendriksen

[2020-03-11 17:27] thaliawww-service commented on #14
In GitLab by @wkuipers on Mar 15, 2017, 19:33

closed via commit 9a85d53d00500af54377604e0965532b14e97398

[2020-03-11 17:27] thaliawww-service commented on #14
In GitLab by @wkuipers on Mar 15, 2017, 19:33

closed via merge request !8

[2020-03-11 17:27] #14 closed

[2020-03-11 17:27] thaliawww-service opened #15 "Events agenda"
In GitLab by @wkuipers on Mar 8, 2017, 20:03

Laat de evenementen agenda zien(moeilijk)

[2020-03-11 17:27] thaliawww-service commented on #15
In GitLab by @wkuipers on Mar 8, 2017, 20:03

assigned to (at)abos

[2020-03-11 17:27] thaliawww-service commented on #15
In GitLab by @wkuipers on May 28, 2017, 15:26

closed

[2020-03-11 17:27] #15 closed

[2020-03-11 17:27] thaliawww-service opened #16 "Add push notification functionality"
In GitLab by @gijshendriksen on Mar 15, 2017, 20:17

[2020-03-11 17:27] thaliawww-service commented on #16
In GitLab by @gijshendriksen on Mar 15, 2017, 20:30

removed assignee

[2020-03-11 17:27] thaliawww-service commented on #16
In GitLab by @wkuipers on Oct 11, 2017, 20:24

closed

[2020-03-11 17:27] #16 closed

[2020-03-11 17:27] thaliawww-service opened #17 "Order pizzas"
In GitLab by @gijshendriksen on Mar 15, 2017, 20:18

Somewhat related to #10

[2020-03-11 17:27] thaliawww-service commented on #17
In GitLab by @se-bastiaan on Sep 29, 2017, 21:06

closed via commit 8577c76a9cb6dca150e02d241d81e3612161b53d

[2020-03-11 17:27] thaliawww-service commented on #17
In GitLab by @se-bastiaan on Sep 29, 2017, 21:06

closed via merge request !66

[2020-03-11 17:27] thaliawww-service commented on #17
In GitLab by @se-bastiaan on Oct 7, 2017, 18:19

mentioned in commit 8577c76a9cb6dca150e02d241d81e3612161b53d

[2020-03-11 17:27] #17 closed

[2020-03-11 17:27] thaliawww-service opened #18 "App icon etc"
In GitLab by @wkuipers on Apr 12, 2017, 21:06

The appprobably needs stuff to be pretty in the store

[2020-03-11 17:27] thaliawww-service commented on #18
In GitLab by @wkuipers on May 28, 2017, 15:26

closed

[2020-03-11 17:27] #18 closed

[2020-03-11 17:28] thaliawww-service opened #19 "Release android app through CI"
In GitLab by @wkuipers on May 31, 2017, 20:20

[2020-03-11 17:28] thaliawww-service commented on #19
In GitLab by @wkuipers on Feb 7, 2018, 20:58

closed

[2020-03-11 17:28] #19 closed

[2020-03-11 17:28] thaliawww-service opened #20 "App is unresponsive during calendar loading"
In GitLab by @wkuipers on May 31, 2017, 20:23

Perhaps needs a loading indicator or a more radical change like changing redux-thunk for redux-saga

[2020-03-11 17:28] thaliawww-service commented on #20
In GitLab by @gijshendriksen on Jun 7, 2017, 19:01

assigned to @gijshendriksen

[2020-03-11 17:28] thaliawww-service commented on #20
In GitLab by @lscholten on Jun 7, 2017, 21:14

`thunk` is niet blocking toch? Ik denk niet dat `saga` dit gaat oplossen

[2020-03-11 17:28] thaliawww-service commented on #20
In GitLab by @wkuipers on Jun 14, 2017, 20:16

closed via commit 1587949f3a2b9b6eff7aca0ec5247446f57b76e5

[2020-03-11 17:28] thaliawww-service commented on #20
In GitLab by @wkuipers on Jun 14, 2017, 20:16

closed via merge request !38

[2020-03-11 17:28] thaliawww-service commented on #20
In GitLab by @wkuipers on Jun 14, 2017, 20:25

mentioned in commit 1587949f3a2b9b6eff7aca0ec5247446f57b76e5

[2020-03-11 17:28] #20 closed

[2020-03-11 17:28] thaliawww-service opened #21 "Change android package name"
In GitLab by @wkuipers on May 31, 2017, 20:48

For compatibility with previous app the app's package should be nu.thalia.app

[2020-03-11 17:28] thaliawww-service commented on #21
In GitLab by @wkuipers on Jun 14, 2017, 19:00

closed via commit b4865f089dafa57873ba09000c41d02ee4b1c547

[2020-03-11 17:28] thaliawww-service commented on #21
In GitLab by @wkuipers on Jun 14, 2017, 19:00

closed via merge request !35

[2020-03-11 17:28] #21 closed

[2020-03-11 17:28] thaliawww-service opened #22 "Android: Give back button expected behaviour"
In GitLab by @wkuipers on Jun 7, 2017, 19:20

Expected behaviour is that it goes one step back until the point where you started the app, after which you should let android handle the back press.

[2020-03-11 17:28] thaliawww-service commented on #22
In GitLab by @gijshendriksen on Jun 16, 2017, 15:41

closed via merge request !36

[2020-03-11 17:28] #22 closed

[2020-03-11 17:28] thaliawww-service opened #23 "Improve error messages"
In GitLab by @gijshendriksen on Jun 7, 2017, 19:27

Op dit moment, als er ergens geen data voor gevonden kon worden, komt er een simpel wit scherm met zwarte tekst te staan, met bijv. de tekst "No events found!"
Dit mag wel iets uitgebreider/mooier

[2020-03-11 17:28] thaliawww-service commented on #23
In GitLab by @wkuipers on Oct 11, 2017, 19:01

closed via commit 951826ad1392606fb48d1343bcd0d07250d553c9

[2020-03-11 17:28] thaliawww-service commented on #23
In GitLab by @wkuipers on Oct 11, 2017, 19:01

closed via merge request !71

[2020-03-11 17:28] thaliawww-service commented on #23
In GitLab by @wkuipers on Oct 11, 2017, 20:15

mentioned in commit 951826ad1392606fb48d1343bcd0d07250d553c9

[2020-03-11 17:28] #23 closed

[2020-03-11 17:28] thaliawww-service opened #24 "Snackbar 'logout' notification never disappears"
In GitLab by abos on Jun 7, 2017, 21:44

[2020-03-11 17:28] thaliawww-service commented on #24
In GitLab by @wkuipers on Jun 16, 2017, 16:41

closed via commit fe0e3aec003e6bc5b3b1a06017410b7bd5a9cbb2

[2020-03-11 17:28] thaliawww-service commented on #24
In GitLab by @wkuipers on Jun 16, 2017, 16:41

closed via merge request !44

[2020-03-11 17:28] thaliawww-service commented on #24
In GitLab by @wkuipers on Jun 16, 2017, 16:46

mentioned in commit fe0e3aec003e6bc5b3b1a06017410b7bd5a9cbb2

[2020-03-11 17:28] #24 closed

[2020-03-11 17:28] thaliawww-service opened #25 "Registration for events"
In GitLab by @gijshendriksen on Jun 7, 2017, 23:21

Nu we een event detail hebben is een van de volgende stappen natuurlijk het toevoegen van registratie-mogelijkheden binnen de app. Deze zouden hetzelfde moeten functioneren als op de site.
De appkant is grotendeels al geschreven (maar weggecomment). Voor de serverkant zijn we afhankelijk van thalia/concrexit#441

[2020-03-11 17:28] thaliawww-service commented on #25
In GitLab by @se-bastiaan on Sep 22, 2017, 18:33

This is possible now concrexit#441 has been implemented in the events refactor.

[2020-03-11 17:28] thaliawww-service commented on #25
In GitLab by @gijshendriksen on Oct 16, 2017, 00:33

assigned to @gijshendriksen

[2020-03-11 17:28] thaliawww-service commented on #25
In GitLab by @se-bastiaan on Dec 13, 2017, 21:35

closed via commit c241759aea71431567af89920a6e73a1b6047663

[2020-03-11 17:28] thaliawww-service commented on #25
In GitLab by @se-bastiaan on Dec 13, 2017, 21:35

closed via merge request !95

[2020-03-11 17:28] thaliawww-service commented on #25
In GitLab by @se-bastiaan on Dec 13, 2017, 21:57

mentioned in commit c241759aea71431567af89920a6e73a1b6047663

[2020-03-11 17:28] #25 closed

[2020-03-11 17:28] thaliawww-service opened #26 "Force logout when token is invalid"
In GitLab by @gijshendriksen on Jun 11, 2017, 14:42

### One-sentence description

Force logout when token is invalid

### Why?

Because it's confusing if you stay logged in

### Current implementation

None

### Desired implementation

Logout

[2020-03-11 17:28] thaliawww-service commented on #26
In GitLab by @thomwiggers on Jun 22, 2017, 11:49

De site geeft (als het goed is) ook 403 als je iets probeert met een geldig token, maar waarvoor je geen rechten hebt. Wil je dan mensen ook uit de app kicken?

[2020-03-11 17:28] thaliawww-service commented on #26
In GitLab by @gijshendriksen on Jun 23, 2017, 17:26

Hmm, daar had ik inderdaad niet echt bij stil gestaan. Dan moet dit iets genuanceerder.

[2020-03-11 17:28] thaliawww-service commented on #26
In GitLab by @gijshendriksen on May 16, 2018, 21:00

closed via merge request !175

[2020-03-11 17:28] thaliawww-service commented on #26
In GitLab by @gijshendriksen on May 16, 2018, 21:00

mentioned in commit ebde1d3f3347271a08b2b8859d7fb7a462e60576

[2020-03-11 17:28] #26 closed

[2020-03-11 17:28] thaliawww-service opened #27 "Make app bilingual"
In GitLab by @gijshendriksen on Jun 13, 2017, 13:42

Net als op de site zou het mooi zijn als de app, afhankelijk van de voorkeur van de gebruiker, Nederlands of Engels wordt.

Dit kan op meerdere manieren:
 * We halen de voorkeur van de site af, en gebruiken die om de taal te bepalen.
 * We voegen een feature toe in de app om te switchen tussen beide talen.
 * We doen een mix van beide, waarin we

[2020-03-11 17:28] thaliawww-service commented on #27
In GitLab by @gijshendriksen on Jun 13, 2017, 22:27

assigned to @gijshendriksen

[2020-03-11 17:28] thaliawww-service commented on #27
In GitLab by @gijshendriksen on Oct 28, 2017, 13:59

removed assignee

[2020-03-11 17:28] thaliawww-service commented on #27
In GitLab by @wkuipers on Feb 21, 2018, 21:08

closed via commit dfac65c5edf029bf0ec94df8dd0a1012bdb3f0aa

[2020-03-11 17:28] thaliawww-service commented on #27
In GitLab by @wkuipers on Feb 21, 2018, 21:08

closed via merge request !87

[2020-03-11 17:29] thaliawww-service commented on #27
In GitLab by @wkuipers on Feb 22, 2018, 12:30

mentioned in commit dfac65c5edf029bf0ec94df8dd0a1012bdb3f0aa

[2020-03-11 17:29] #27 closed

[2020-03-11 17:29] thaliawww-service opened #28 "'Bekijk de hele agenda' opent aparte agenda scene"
In GitLab by @se-bastiaan on Jun 18, 2017, 12:14

Ik wist niet zo goed hoe ik dit moest beschrijven, maar het komt erop neer dat je hier een back icon krijgt ipv het menu icon

![Screenshot_20170618-121200](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/78af0ae5d69d1ba12efae9e1609263a9/Screenshot_20170618-121200.png)

[2020-03-11 17:29] thaliawww-service commented on #28
In GitLab by @gijshendriksen on Jun 21, 2017, 15:51

Dit was semi-bewust, aangezien je hier naartoe navigeert vanuit het Welkom-scherm en niet vanuit de sidebar. Misschien is het idd beter om hier toch het menu icon neer te zetten, maar dan heb je op iOS wel dat je dan niet terug kunt naar het Welkom-scherm, wat mij een beetje raar lijkt. Op android navigeert de hardware back button standaard eers

[2020-03-11 17:29] thaliawww-service commented on #28
In GitLab by @se-bastiaan on Jun 21, 2017, 15:55

Je kunt de navigation drawer toch gewoon nog openen?

[2020-03-11 17:29] thaliawww-service commented on #28
In GitLab by @gijshendriksen on Jun 21, 2017, 15:57

True, het leek mij in eerste instantie echter intuïtiever om meteen terug te kunnen als je op deze manier navigeert. Maar ik denk inderdaad dat het wel beter is om het op jouw manier te doen.

[2020-03-11 17:29] thaliawww-service commented on #28
In GitLab by @wkuipers on Jul 12, 2017, 17:02

closed via commit a41a84314d5103e7c33dc4c9d0d6b171f525310e

[2020-03-11 17:29] thaliawww-service commented on #28
In GitLab by @wkuipers on Jul 12, 2017, 17:02

closed via merge request !52

[2020-03-11 17:29] thaliawww-service commented on #28
In GitLab by @wkuipers on Jul 26, 2017, 21:16

mentioned in commit a41a84314d5103e7c33dc4c9d0d6b171f525310e

[2020-03-11 17:29] #28 closed

[2020-03-11 17:29] thaliawww-service opened #29 "GPLv3 acknowledgement"
In GitLab by @wkuipers on Jun 20, 2017, 13:50

To introduce a license it's important to have everyone who contributed code to agree to this.
By checking yourselff off this list you agree to have your code in this project licensed under the GNU Public License v3
A short explanation on this license can be found at https://www.gnu.org/licenses/quick-guide-gplv3.html

* [x]  @wkuipers
* [x]  @gijshend

[2020-03-11 17:29] thaliawww-service commented on #29
In GitLab by @wkuipers on Jun 20, 2017, 13:50

marked the task **@wkuipers** as completed

[2020-03-11 17:29] thaliawww-service commented on #29
In GitLab by @se-bastiaan on Jun 20, 2017, 13:50

marked the task **@se-bastiaan** as completed

[2020-03-11 17:29] thaliawww-service commented on #29
In GitLab by @thomwiggers on Jun 20, 2017, 13:52

Ook wel useful: https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)

[2020-03-11 17:29] thaliawww-service commented on #29
In GitLab by @gijshendriksen on Jun 20, 2017, 14:10

marked the task **@gijshendriksen** as completed

[2020-03-11 17:29] thaliawww-service commented on #29
In GitLab by abos on Jun 20, 2017, 19:18

marked the task **(at)abos** as completed

[2020-03-11 17:29] thaliawww-service commented on #29
In GitLab by @thomwiggers on Jun 22, 2017, 11:48

Closed via fe98bdb23043529dbef15bd7f7542808ff8b1487

[2020-03-11 17:29] thaliawww-service commented on #29
In GitLab by @thomwiggers on Jun 22, 2017, 11:48

closed

[2020-03-11 17:29] #29 closed

[2020-03-11 17:29] thaliawww-service opened #30 "Natively support Galaxy S8 resolution"
In GitLab by @thomwiggers on Jul 12, 2017, 20:50

The app currently doesn't render at full screen size, though having the phone force stretch it works fine.

[2020-03-11 17:29] thaliawww-service commented on #30
In GitLab by @thomwiggers on Jul 12, 2017, 20:50

https://stackoverflow.com/questions/43694526/samsung-galaxy-s8-full-screen-mode

[2020-03-11 17:29] thaliawww-service commented on #30
In GitLab by @se-bastiaan on Sep 23, 2017, 20:29

mentioned in commit 09fd4592ad899bad2bcdf3ff1e8be7cbdb20fa6f

[2020-03-11 17:29] thaliawww-service commented on #30
In GitLab by @se-bastiaan on Sep 26, 2017, 16:40

closed via commit 09fd4592ad899bad2bcdf3ff1e8be7cbdb20fa6f

[2020-03-11 17:29] thaliawww-service commented on #30
In GitLab by @gijshendriksen on Sep 26, 2017, 16:40

closed via commit 729c974a5865e4e5eda3425b717218c8fd561ef9

[2020-03-11 17:29] thaliawww-service commented on #30
In GitLab by @gijshendriksen on Sep 26, 2017, 16:40

closed via merge request !62

[2020-03-11 17:29] thaliawww-service commented on #30
In GitLab by @gijshendriksen on Sep 26, 2017, 17:00

mentioned in commit 729c974a5865e4e5eda3425b717218c8fd561ef9

[2020-03-11 17:29] #30 closed

[2020-03-11 17:29] thaliawww-service opened #31 "Kleine bug in de app (en misschien ook de site?)"
In GitLab by ghost on Sep 13, 2017, 11:25

Na de aanmeld/afmelddatum verschijnt de text dat die datum verlopen is, een beetje verkeerd (zie afbeelding).

![Screenshot_20170913-112326](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/5c5c7689f933bfe245e55160f9badce9/Screenshot_20170913-112326.png)

[2020-03-11 17:29] thaliawww-service commented on #31
In GitLab by tvbussel on Sep 13, 2017, 11:33

moved from concrexit#498

[2020-03-11 17:29] thaliawww-service commented on #31
In GitLab by @gijshendriksen on Sep 26, 2017, 17:06

closed via commit fceda41c78a0fce561da053ab1bd460bc9405d0b

[2020-03-11 17:29] thaliawww-service commented on #31
In GitLab by @gijshendriksen on Sep 26, 2017, 17:06

closed via merge request !60

[2020-03-11 17:29] thaliawww-service commented on #31
In GitLab by @gijshendriksen on Sep 26, 2017, 17:08

mentioned in commit fceda41c78a0fce561da053ab1bd460bc9405d0b

[2020-03-11 17:29] #31 closed

[2020-03-11 17:29] thaliawww-service opened #32 "Event status deprecated"
In GitLab by @se-bastiaan on Sep 22, 2017, 18:31

The events code previously used a status code to determine some logic.
In the latest refactor we changed a lot of code and the status was removed in the process.
However, the status code is still exposed in the API using a workaround.
And it's deprecated. So the app should stop using it so that we can remove it completely.

[2020-03-11 17:29] thaliawww-service commented on #32
In GitLab by @gijshendriksen on Sep 26, 2017, 17:06

closed via commit fceda41c78a0fce561da053ab1bd460bc9405d0b

[2020-03-11 17:29] thaliawww-service commented on #32
In GitLab by @gijshendriksen on Sep 26, 2017, 17:06

closed via merge request !60

[2020-03-11 17:29] thaliawww-service commented on #32
In GitLab by @gijshendriksen on Sep 26, 2017, 17:08

mentioned in commit fceda41c78a0fce561da053ab1bd460bc9405d0b

[2020-03-11 17:29] thaliawww-service commented on #32
In GitLab by @se-bastiaan on Oct 19, 2017, 00:48

assigned to @se-bastiaan

[2020-03-11 17:29] #32 closed

[2020-03-11 17:29] thaliawww-service opened #33 "Member directory"
In GitLab by @se-bastiaan on Sep 30, 2017, 15:04

Add a member directory to the app, just like on the website. Including filters etc.

[2020-03-11 17:29] thaliawww-service commented on #33
In GitLab by @se-bastiaan on Mar 7, 2018, 20:59

closed via commit 816dd07e7873ce950336fad4e6ce314966a55d8d

[2020-03-11 17:29] thaliawww-service commented on #33
In GitLab by @se-bastiaan on Mar 7, 2018, 20:59

closed via merge request !51

[2020-03-11 17:33] #33 closed

[2020-03-11 17:33] thaliawww-service opened #34 "Make links in profile view clickable"
In GitLab by ghost on Oct 11, 2017, 20:30

Links are not clickable, make it clickable.

[2020-03-11 17:33] thaliawww-service commented on #34
In GitLab by @wkuipers on Oct 18, 2017, 20:26

closed

[2020-03-11 17:33] #34 closed

[2020-03-11 17:33] thaliawww-service opened #35 "Replace react-native-snackbar-component"
In GitLab by @wkuipers on Oct 11, 2017, 20:42

In !72 I replaced react-native-snackbar-component by a hotfixed repository but this is not very sustainable, and the snackbar is not being maintained.
We should find an alternative that is maintained.

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @se-bastiaan on Oct 16, 2017, 12:32

Seems like your PR was merged. And it doesn't cause any further problems. Is there any other reason to get rid of it?

P.S. Congrats on getting 1/4 for Hacktober ;)

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @wkuipers on Oct 18, 2017, 20:26

Repo owner has not bothered to update the npm package and is not actively maintainting it him/herself

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @gijshendriksen on Oct 27, 2017, 14:12

This seems like a good solution: https://github.com/cooperka/react-native-snackbar. Removes the need for a component somewhere in the root of the app, and appears to be quite easy to use.

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @se-bastiaan on Oct 27, 2017, 16:07

It seems that it's completely native and just uses a react bridge to show the component. Not bad imo.

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @gijshendriksen on Oct 27, 2017, 16:10

assigned to @gijshendriksen

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @wkuipers on Dec 6, 2017, 19:38

closed via merge request !96

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @wkuipers on Dec 6, 2017, 19:38

closed via commit 7942295c756492095310321c0e728f0e8a3c3856

[2020-03-11 17:33] thaliawww-service commented on #35
In GitLab by @wkuipers on Dec 6, 2017, 20:22

mentioned in commit 7942295c756492095310321c0e728f0e8a3c3856

[2020-03-11 17:33] #35 closed

[2020-03-11 17:33] thaliawww-service opened #36 "Gebruik thumbnail-URIs uit de API ipv ze te genereren"
In GitLab by @thomwiggers on Oct 12, 2017, 14:10

Implementeer concrexit#527, omdat de thumbnail-API wellicht eens verandert.

~blocked
~API

[2020-03-11 17:33] thaliawww-service commented on #36
In GitLab by @gijshendriksen on Jan 31, 2018, 20:00

assigned to @gijshendriksen

[2020-03-11 17:33] thaliawww-service commented on #36
In GitLab by @se-bastiaan on Jan 31, 2018, 21:48

closed via merge request !131

[2020-03-11 17:33] thaliawww-service commented on #36
In GitLab by @se-bastiaan on Jan 31, 2018, 21:48

closed via commit d06416e00c6c739549166b28db2ab221501da69e

[2020-03-11 17:33] thaliawww-service commented on #36
In GitLab by @se-bastiaan on Jan 31, 2018, 22:45

mentioned in commit d06416e00c6c739549166b28db2ab221501da69e

[2020-03-11 17:33] #36 closed

[2020-03-11 17:33] thaliawww-service opened #37 "Long names overflow the screen width"
In GitLab by ghost on Oct 18, 2017, 20:29

### One-sentence description

Members that have a long first/last name combination overflow the screen width.

### Current behaviour

Text overflowing.

### Expected behaviour

No text overflowing.

[2020-03-11 17:33] thaliawww-service commented on #37
In GitLab by @gijshendriksen on Mar 7, 2018, 20:10

closed via commit e286a705a2bbbef3513a69a4408bbaca044e3a02

[2020-03-11 17:33] thaliawww-service commented on #37
In GitLab by @gijshendriksen on Mar 7, 2018, 20:10

closed via merge request !124

[2020-03-11 17:33] thaliawww-service commented on #37
In GitLab by @gijshendriksen on Mar 7, 2018, 20:53

mentioned in commit e286a705a2bbbef3513a69a4408bbaca044e3a02

[2020-03-11 17:33] #37 closed

[2020-03-11 17:33] thaliawww-service opened #38 "Update screenshots in play store"
In GitLab by @thomwiggers on Oct 18, 2017, 21:57

De app is nu een stuk strakker, show it off.

[2020-03-11 17:33] thaliawww-service commented on #38
In GitLab by @se-bastiaan on Dec 14, 2017, 01:10

closed

[2020-03-11 17:33] #38 closed

[2020-03-11 17:33] thaliawww-service opened #39 "Onduidelijk wanneer pizza's besteld kunnen worden"
In GitLab by @thomwiggers on Oct 19, 2017, 12:43

Op de site staat er bij evenementen waar je pizza kan bestellen altijd een bestelknop, in de app zie ik hem niet. Op het moment neem ik aan dat dat komt doordat de bestellingen nog niet open zijn.

[2020-03-11 17:33] thaliawww-service commented on #39
In GitLab by @se-bastiaan on Oct 20, 2017, 14:11

Was dit omdat de events omgewisseld waren? Of bedoel je in de events detail view?

[2020-03-11 17:33] thaliawww-service commented on #39
In GitLab by @thomwiggers on Oct 20, 2017, 14:12

Het kwam dus door de bug met de events (!82), maar sowieso is het denk ik een goed idee om wel iets in de beschrijving van een evenement te zetten als het een pizza-event is.

[2020-03-11 17:33] thaliawww-service commented on #39
In GitLab by @gijshendriksen on Jan 24, 2018, 19:42

assigned to @gijshendriksen

[2020-03-11 17:33] thaliawww-service commented on #39
In GitLab by @se-bastiaan on Jan 27, 2018, 18:00

closed via merge request !129

[2020-03-11 17:33] thaliawww-service commented on #39
In GitLab by @se-bastiaan on Jan 27, 2018, 18:00

closed via commit 8dbce82b7388ed4053da12eae9f5ca0150a1adcd

[2020-03-11 17:34] thaliawww-service commented on #39
In GitLab by @se-bastiaan on Jan 28, 2018, 20:30

mentioned in commit 8dbce82b7388ed4053da12eae9f5ca0150a1adcd

[2020-03-11 17:34] #39 closed

[2020-03-11 17:34] thaliawww-service opened #40 "'Hoeveel EC haalt Leon' bord op de website"
In GitLab by bbrenninkmeijer on Oct 28, 2017, 11:02

### One-sentence description
Bouw het 'Hoeveel EC haalt Leon' bord in op de website
### Desired behaviour
Het zou supervetgaaf zijn als we de ruimte op het whiteboard voor iets anders kunnen gebruiken. Omdat natuurlijk wel bijgehouden moet worden wie hoeveel EC gegokt had voor Leon dit jaar, zou het handig zijn als dit in de website/app gebouwd

[2020-03-11 17:34] thaliawww-service commented on #40
In GitLab by tvbussel on Oct 28, 2017, 15:03

https://www.google.com/forms/

[2020-03-11 17:34] thaliawww-service commented on #40
In GitLab by @thomwiggers on Oct 30, 2017, 12:20

Omdat er hier natuurlijk een grote behoefte is aan het publiek bekend maken van hoe de stand is, lijkt het me het beste als jullie dit op de TV-schermen in Mercator en Huygens zouden projecteren. Omdat de Technicie die niet beheert, kunnen we helaas niet helpen met daar de gewenste informatie op krijgen. Wel hebben we een aantal experts op het gebi

[2020-03-11 17:34] thaliawww-service commented on #40
In GitLab by @thomwiggers on Oct 30, 2017, 12:20

closed

[2020-03-11 17:34] #40 closed

[2020-03-11 17:34] thaliawww-service opened #41 "Formatting of registration start time is hh:m instead of hh:mm"
In GitLab by @gijshendriksen on Oct 31, 2017, 15:18

### One-sentence description
Change formatting of registration start time

### Current behaviour
Registration start time is displayed as hh:m, like this:

![Registration start time](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/29548620a32a9f927451f17e04817b55/Screenshot_20171031-151017.png)

### Expected behaviour
Registration start tim

[2020-03-11 17:34] thaliawww-service commented on #41
In GitLab by @gijshendriksen on Dec 21, 2017, 15:03

closed via merge request !111

[2020-03-11 17:34] thaliawww-service commented on #41
In GitLab by @gijshendriksen on Dec 21, 2017, 15:03

closed via commit e879e307135eeb2367ebf9d252b5a23dd8f1197d

[2020-03-11 17:34] thaliawww-service commented on #41
In GitLab by @gijshendriksen on Dec 21, 2017, 15:26

mentioned in commit e879e307135eeb2367ebf9d252b5a23dd8f1197d

[2020-03-11 17:34] #41 closed

[2020-03-11 17:34] thaliawww-service opened #42 "Calender across years does not work"
In GitLab by @wkuipers on Dec 8, 2017, 14:01

### One-sentence description
Events in January 2018 are displayed before events in December 2017 in the calendar

### Current behaviour
Events in January 2018 are displayed before events in December 2017 in the calendar

### Expected behaviour
Events in January 2018 are displayed after events in December 2017 in the calendar

### Steps to reproduce

1.

[2020-03-11 17:34] thaliawww-service commented on #42
In GitLab by @gijshendriksen on Dec 13, 2017, 20:22

I believe this bug will also cause events on the same day but in another year to be placed together, as the code that creates sections of the events does not take years into account.

[2020-03-11 17:34] thaliawww-service commented on #42
In GitLab by @wkuipers on Dec 15, 2017, 11:13

closed via merge request !104

[2020-03-11 17:34] thaliawww-service commented on #42
In GitLab by @wkuipers on Dec 15, 2017, 11:14

closed via commit c08852b889e4a80a59ea410422a6e32cabfb35d2

[2020-03-11 17:34] thaliawww-service commented on #42
In GitLab by @wkuipers on Dec 20, 2017, 20:17

mentioned in commit c08852b889e4a80a59ea410422a6e32cabfb35d2

[2020-03-11 17:34] #42 closed

[2020-03-11 17:34] thaliawww-service opened #43 "Increase the `targetSdkVersion` of the Android app"
In GitLab by @thomwiggers on Dec 20, 2017, 11:44

### One-sentence description

Increase the `targetSdkVersion` of the Android app

### Why?

It'll be required.

https://android-developers.googleblog.com/2017/12/improving-app-security-and-performance.html

https://gitlab.science.ru.nl/thalia/ThaliApp-react/blob/master/android/app/src/main/AndroidManifest.xml#L9

[2020-03-11 17:34] thaliawww-service commented on #43
In GitLab by @se-bastiaan on Dec 20, 2017, 12:37

https://github.com/facebook/react-native/issues/18095

[2020-03-11 17:34] thaliawww-service commented on #43
In GitLab by @se-bastiaan on Aug 30, 2018, 14:43

closed

[2020-03-11 17:34] #43 closed

[2020-03-11 17:34] thaliawww-service opened #44 "Clicking on event has to be on 'meer info'"
In GitLab by njanssen on Dec 20, 2017, 15:45

### One-sentence description
When opening an event, you have to click on 'more info', instead of being able to click somewhere on the event.

### Desired behaviour
When clicking on the event body, also open the event.

[2020-03-11 17:34] thaliawww-service commented on #44
In GitLab by jdusseljee on Dec 20, 2017, 20:39

assigned to (at)jdusseljee

[2020-03-11 17:34] thaliawww-service commented on #44
In GitLab by @wkuipers on Jan 17, 2018, 18:49

closed via merge request !113

[2020-03-11 17:34] thaliawww-service commented on #44
In GitLab by @wkuipers on Jan 17, 2018, 18:49

closed via commit db57e2c0ae19c72852b43cc8f11ea0020e2150e6

[2020-03-11 17:34] thaliawww-service commented on #44
In GitLab by @wkuipers on Jan 17, 2018, 20:06

mentioned in commit db57e2c0ae19c72852b43cc8f11ea0020e2150e6

[2020-03-11 17:34] #44 closed

[2020-03-11 17:34] thaliawww-service opened #45 "Release app for iOS"
In GitLab by @se-bastiaan on Dec 20, 2017, 18:58

What we need to do to release for iOS:

- [x] Fix language consistency
- [x] Fix loading events
- [x] Create demo account for Apple on the website
- [x] Send a Testflight for user testing
- [x] Setup notifications using APNS and Firebase
- [x] Fix pizza's styling
- [x] Hide keyboard on input submit

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @se-bastiaan on Dec 20, 2017, 20:57

marked the task **Fix loading events** as completed

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @se-bastiaan on Dec 20, 2017, 20:59

marked the task **Setup notifications using APNS and Firebase** as completed

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @se-bastiaan on Dec 20, 2017, 20:59

marked the task **Create demo account for Apple on the website** as completed

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @se-bastiaan on Dec 21, 2017, 14:32

![png](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/47fe78de6face59b1e95105ea86eb085/png)

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @se-bastiaan on Dec 23, 2017, 17:31

marked the task **Send a Testflight for user testing** as completed

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @se-bastiaan on Dec 23, 2017, 17:31

marked the task **Fix pizza's styling** as completed

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @se-bastiaan on Dec 23, 2017, 17:31

marked the task **Hide keyboard on input submit** as completed

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @wkuipers on Feb 7, 2018, 20:58

marked the task **Fix language consistency** as completed

[2020-03-11 17:34] thaliawww-service commented on #45
In GitLab by @wkuipers on Feb 7, 2018, 20:58

closed

[2020-03-11 17:34] #45 closed

[2020-03-11 17:34] thaliawww-service opened #46 "Clicking a MemberView always opens profile of logged-in user"
In GitLab by @se-bastiaan on Dec 23, 2017, 17:32

### One-sentence description

Clicking a MemberView always opens profile of logged-in user

### Current behaviour

Opens user profile of the logged-in user

### Expected behaviour

Opens user profile of the selected user

### Steps to reproduce

1. Go to an event with registrations
2. Tap a registered member

[2020-03-11 17:34] thaliawww-service commented on #46
In GitLab by @gijshendriksen on Dec 23, 2017, 22:38

closed via merge request !117

[2020-03-11 17:34] thaliawww-service commented on #46
In GitLab by @gijshendriksen on Dec 23, 2017, 22:38

closed via commit c2910c39b645b43a8a7f50291f5d62f044828839

[2020-03-11 17:34] thaliawww-service commented on #46
In GitLab by @gijshendriksen on Dec 23, 2017, 22:45

mentioned in commit c2910c39b645b43a8a7f50291f5d62f044828839

[2020-03-11 17:34] #46 closed

[2020-03-11 17:35] thaliawww-service opened #47 "Menu items get cut off"
In GitLab by jdusseljee on Jan 10, 2018, 19:41

### One-sentence description
Items in the menu bar get cut off, showing only half of the actual text.

When the Roboto font is replaced by a different system font. Like on OxygenOS, the OnePlus Slate font is used.

[2020-03-11 17:35] thaliawww-service commented on #47
In GitLab by jdusseljee on Jan 10, 2018, 19:43

created branch [`42-menu-items-get-cut-off`](https://gitlab.science.ru.nl/thalia/ThaliApp-react/compare/master...42-menu-items-get-cut-off)

[2020-03-11 17:35] thaliawww-service commented on #47
In GitLab by @se-bastiaan on Mar 28, 2018, 21:22

unassigned (at)jdusseljee

[2020-03-11 17:35] thaliawww-service commented on #47
In GitLab by @se-bastiaan on Oct 17, 2018, 21:34

closed via merge request !212

[2020-03-11 17:35] thaliawww-service commented on #47
In GitLab by @se-bastiaan on Oct 17, 2018, 21:34

mentioned in commit 2f5f440771f5d678ad38403d184d4e16eea81d0c

[2020-03-11 17:35] #47 closed

[2020-03-11 17:35] thaliawww-service opened #48 "Login fails when the username is not lowercase"
In GitLab by @se-bastiaan on Jan 10, 2018, 21:21

### One-sentence description

Login fails when the username is not lowercase

### Current behaviour

Can't login when I type my username with uppercase character

### Expected behaviour

Can login when I type my username with any character

### Steps to reproduce

1. Try to login with a uppercase character in your username

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by jdusseljee on Jan 17, 2018, 19:26

assigned to (at)jdusseljee

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by jdusseljee on Jan 17, 2018, 19:26

created branch [`43-login-fails-when-the-username-is-not-lowercase`](https://gitlab.science.ru.nl/thalia/ThaliApp-react/compare/master...43-login-fails-when-the-username-is-not-lowercase)

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by jdusseljee on Jan 17, 2018, 19:28

created branch [`43-login-fails-when-the-username-is-not-lowercase`](https://gitlab.science.ru.nl/thalia/ThaliApp-react/compare/master...43-login-fails-when-the-username-is-not-lowercase)

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by gmulder on Jan 18, 2018, 01:39

@se-bastiaan please comment on the MR, because I cannot see how this is a bug. It is, in my opinion, _intended_ behaviour to discard invalid usernames (e.g. without the correct case) when the website's backend `concrexit` acts the same.

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by @se-bastiaan on Jan 21, 2018, 15:26

There is a concrexit issue now. https://gitlab.science.ru.nl/thalia/concrexit/issues/561

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by @gijshendriksen on Jan 21, 2018, 15:31

Since the conclusion was that this should be fixed in the API endpoint, does that mean this issue can be closed?

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by @se-bastiaan on Jan 21, 2018, 15:31

Probably better :thumbsup:.

[2020-03-11 17:35] thaliawww-service commented on #48
In GitLab by @se-bastiaan on Jan 21, 2018, 15:31

closed

[2020-03-11 17:35] #48 closed

[2020-03-11 17:35] thaliawww-service opened #49 "Name is not updated in menu"
In GitLab by ghost on Jan 17, 2018, 19:34

### One-sentence description
When you press the menu button in the app, you will see your old name.
### Why?
If I change my name on the website, I want to see that name immediately in the whole app.
### Current implementation
Name is updated in Profile, but not in the overlay menu.
### Desired implementation
Name also updated in the overlay menu.![Screens

[2020-03-11 17:35] thaliawww-service commented on #49
In GitLab by @gijshendriksen on Jan 31, 2018, 20:09

assigned to @gijshendriksen

[2020-03-11 17:35] thaliawww-service commented on #49
In GitLab by @se-bastiaan on Jan 31, 2018, 22:56

closed via merge request !134

[2020-03-11 17:35] thaliawww-service commented on #49
In GitLab by @se-bastiaan on Jan 31, 2018, 22:56

closed via commit c2897200431feb02f8a143b194a90e958a43b9e6

[2020-03-11 17:35] thaliawww-service commented on #49
In GitLab by @se-bastiaan on Feb 7, 2018, 19:41

mentioned in commit c2897200431feb02f8a143b194a90e958a43b9e6

[2020-03-11 17:35] #49 closed

[2020-03-11 17:35] thaliawww-service opened #50 "Add settings menu"
In GitLab by @gijshendriksen on Jan 31, 2018, 19:26

### One-sentence description
Add settings menu, in which the user can specify which push notifications they want to receive, what language the app should use, etc.

### Desired behaviour
The user should be able to enter some preferences, like the following:
* Enable/disable push notifications categories
* Choose app language

And maybe more feat

[2020-03-11 17:35] thaliawww-service commented on #50
In GitLab by bzandt on Mar 28, 2018, 18:55

assigned to (at)bzandt

[2020-03-11 17:35] thaliawww-service commented on #50
In GitLab by bzandt on Mar 28, 2018, 18:56

created branch [`45-add-settings-menu`](https://gitlab.science.ru.nl/thalia/ThaliApp/compare/master...45-add-settings-menu)

[2020-03-11 17:35] thaliawww-service commented on #50
In GitLab by @se-bastiaan on Jul 5, 2018, 10:47

Since https://gitlab.science.ru.nl/thalia/concrexit/merge_requests/831 scheduled notifications are planned for release after the summer in concrexit 1.17 I've increased the priority of this issue. People might want to disable certain categories of notifications.

[2020-03-11 17:35] thaliawww-service commented on #50
In GitLab by @se-bastiaan on Aug 9, 2018, 16:54

mentioned in commit cfee4808108d115dd86348b1f9aefcc7235625c7

[2020-03-11 17:35] thaliawww-service commented on #50
In GitLab by @se-bastiaan on Aug 9, 2018, 16:54

closed via merge request !179

[2020-03-11 17:35] #50 closed

[2020-03-11 17:35] thaliawww-service opened #51 "Deeplinking to admin page of events should not happen"
In GitLab by @joren485 on Feb 6, 2018, 14:42

* Android version: `7.1.2` (yes I should update)
* Build version: `409` (according to @gijshendriksen)

### One-sentence description

Deeplinking to admin page of events should not happen

### Current behaviour

Urls of admin pages of events are of the form `https://thalia.nu/events/admin/<id>/`. This means that going to the admin page of an event will

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @se-bastiaan on Feb 6, 2018, 15:03

Please specify your operating system and version. Plus the version if the application you're running.

Also, please use an issue template  next time.

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @gijshendriksen on Feb 6, 2018, 15:37

@se-bastiaan He is using the latest version of the beta app, so build 409. The behaviour is expected as the url starts with `/events/`. Unfortunately, Android's pattern matching in the intent filters is very limited (only `.` and `.*` matching), so there is no way to separate `/events/[id]/` from `/events/admin/.../`. As such, I don't really see

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @se-bastiaan on Feb 6, 2018, 15:51

It currently uses the pathPrefix. Maybe `android:pathPattern` would be better?
`android:pathPattern="/events/.*/"`. It should not match `/events/admin/*bla*/`.

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @se-bastiaan on Feb 6, 2018, 16:02

The workaround is making sure the link doesn't open automatically in your settings :)

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @gijshendriksen on Feb 6, 2018, 16:07

Yeah you can use wildcards in `pathPattern`, but `/events/admin/*bla*/` starts with `/events/`, ends with `/` and has arbitrary characters in between, it will definitely match with `/events/.*/`

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @se-bastiaan on Feb 7, 2018, 20:14

closed via commit e7b125aa9fa08bfb77cb3cf9b3b8fc8246c2eaf3

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @se-bastiaan on Feb 7, 2018, 20:14

closed via merge request !138

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @se-bastiaan on Feb 7, 2018, 20:18

mentioned in commit 8fa69e0873cef9cd711bc158c81a22c0a6cc74e7

[2020-03-11 17:35] thaliawww-service commented on #51
In GitLab by @se-bastiaan on Feb 14, 2018, 19:49

mentioned in commit e7b125aa9fa08bfb77cb3cf9b3b8fc8246c2eaf3

[2020-03-11 17:35] #51 closed

[2020-03-11 17:35] thaliawww-service opened #52 "View scrolling back to the top when returning"
In GitLab by @se-bastiaan on Feb 9, 2018, 21:45

### One-sentence description

View scrolling back to the top when returning

### Current behaviour

The scroll offset is positioned at the top when returning from another view.

### Expected behaviour

The scrollview should stay in the same position.

### Steps to reproduce

1. Open the calendar
2. Scroll down
3. Select an event
4. Go back
5. The ca

[2020-03-11 17:35] thaliawww-service commented on #52
In GitLab by jdusseljee on Mar 14, 2018, 19:41

assigned to (at)jdusseljee

[2020-03-11 17:35] thaliawww-service commented on #52
In GitLab by jdusseljee on Mar 14, 2018, 19:41

created branch [`47-calendar-scrolling-back-to-the-top-when-returning-from-event`](https://gitlab.science.ru.nl/thalia/ThaliApp/compare/master...47-calendar-scrolling-back-to-the-top-when-returning-from-event)

[2020-03-11 17:35] thaliawww-service commented on #52
In GitLab by @se-bastiaan on Mar 28, 2018, 21:22

unassigned (at)jdusseljee

[2020-03-11 17:36] thaliawww-service commented on #52
In GitLab by @gijshendriksen on May 9, 2018, 19:34

assigned to @gijshendriksen

[2020-03-11 17:36] thaliawww-service commented on #52
In GitLab by @gijshendriksen on Jul 11, 2018, 19:12

With the current React Native version, this is rather hard to implement. Perhaps migrating to [`react-navigation`](https://reactnavigation.org/) will help, as I've read somewhere this feature is handled there automatically.

[2020-03-11 17:36] thaliawww-service commented on #52
In GitLab by @gijshendriksen on Jul 11, 2018, 19:13

unassigned @gijshendriksen

[2020-03-11 17:36] thaliawww-service commented on #52
In GitLab by @gijshendriksen on Aug 29, 2018, 21:34

closed via commit c70bf24496689550d4211936335649605ccf6d9c

[2020-03-11 17:36] thaliawww-service commented on #52
In GitLab by @gijshendriksen on Aug 29, 2018, 21:34

closed via merge request !186

[2020-03-11 17:36] thaliawww-service commented on #52
In GitLab by @gijshendriksen on Aug 29, 2018, 22:19

mentioned in commit c70bf24496689550d4211936335649605ccf6d9c

[2020-03-11 17:36] #52 closed

[2020-03-11 17:36] thaliawww-service opened #53 "Improve test coverage"
In GitLab by @se-bastiaan on Feb 9, 2018, 23:43

### One-sentence description

Improve test coverage

### Why?

It will make our lives easier.

### Current implementation

Minimal tests only.

### Desired implementation

100% coverage.

### Status
* [x] Actions (!209)
* [x] Reducers (!213)
* [x] Sagas (!217)
* [x] Selectors
* [ ] UI
* [x] Utils (!211, !218)

[2020-03-11 17:36] thaliawww-service commented on #53
In GitLab by thijsdejong on Sep 11, 2019, 20:54

closed

[2020-03-11 17:36] #53 closed

[2020-03-11 17:36] thaliawww-service opened #54 "Change folder structure"
In GitLab by @se-bastiaan on Feb 11, 2018, 16:41

I would like to propose a change in our folder structure.
Currently it looks like this:

[code]

This means that _all_ actions, reducers, sagas and components are in one folder. And the styles folder in the components folder contains _all_ styles. This is not really a problem for the actions, reducers and sagas but in my opinion it is going to be f

[2020-03-11 17:36] thaliawww-service commented on #54
In GitLab by @se-bastiaan on Mar 26, 2018, 15:44

closed

[2020-03-11 17:36] #54 closed

[2020-03-11 17:36] thaliawww-service opened #55 "Event fields located under keyboard on iOS"
In GitLab by @se-bastiaan on Feb 16, 2018, 14:47

### One-sentence description

Event fields located under keyboard on iOS

### Current behaviour

The field disappears under the keyboard.

### Expected behaviour

The screen focuses on the field.

### Steps to reproduce

1. Create an event with multiple (4?) information fields
2. Register for the event
3. Open the app and update your registration
4

[2020-03-11 17:36] thaliawww-service commented on #55
In GitLab by @se-bastiaan on Feb 21, 2018, 19:43

assigned to @se-bastiaan

[2020-03-11 17:36] thaliawww-service commented on #55
In GitLab by @wkuipers on Mar 7, 2018, 20:49

closed via commit d040c48dbe152eb45111a7a5cce6351230a5340d

[2020-03-11 17:36] thaliawww-service commented on #55
In GitLab by @wkuipers on Mar 7, 2018, 20:49

closed via merge request !147

[2020-03-11 17:36] thaliawww-service commented on #55
In GitLab by @wkuipers on Mar 7, 2018, 20:53

mentioned in commit d040c48dbe152eb45111a7a5cce6351230a5340d

[2020-03-11 17:36] #55 closed

[2020-03-11 17:36] thaliawww-service opened #56 "HTML in event description is removed"
In GitLab by @se-bastiaan on Feb 17, 2018, 13:15

### One-sentence description

HTML in event description is removed

### Current behaviour

No spacing or newlines

### Expected behaviour

Spacing and correct rendering

### Steps to reproduce

1. Open the event for the parent's day
2. Check the description

[2020-03-11 17:36] thaliawww-service commented on #56
In GitLab by @se-bastiaan on Feb 17, 2018, 13:17

This is probably a problem in the API of concrexit. However, the app should be able to handle and render the right formatting.

[2020-03-11 17:36] thaliawww-service commented on #56
In GitLab by @gijshendriksen on Feb 21, 2018, 18:59

assigned to @gijshendriksen

[2020-03-11 17:36] thaliawww-service commented on #56
In GitLab by @se-bastiaan on Feb 23, 2018, 22:44

closed via commit 7c5a1468563a0a506097cbfa241c79a9c988be08

[2020-03-11 17:36] thaliawww-service commented on #56
In GitLab by @se-bastiaan on Feb 23, 2018, 22:44

closed via merge request !148

[2020-03-11 17:36] thaliawww-service commented on #56
In GitLab by @se-bastiaan on Feb 28, 2018, 19:49

mentioned in commit 7c5a1468563a0a506097cbfa241c79a9c988be08

[2020-03-11 17:36] #56 closed

[2020-03-11 17:36] thaliawww-service opened #57 "Send language to push notifications API"
In GitLab by @se-bastiaan on Feb 22, 2018, 12:40

### One-sentence description

Send language to push notifications API

### Desired behaviour

Concrexit can save the device's language since https://gitlab.science.ru.nl/thalia/concrexit/merge_requests/620. We should send the language so that we can send localised push notifications. Note that this is not implemented in the API yet. Although, it de

[2020-03-11 17:36] thaliawww-service commented on #57
In GitLab by @gijshendriksen on Mar 10, 2018, 16:42

assigned to @gijshendriksen

[2020-03-11 17:36] thaliawww-service commented on #57
In GitLab by @gijshendriksen on Mar 14, 2018, 17:48

Closing because concrexit!744 was merged.

[2020-03-11 17:36] thaliawww-service commented on #57
In GitLab by @gijshendriksen on Mar 14, 2018, 17:48

closed

[2020-03-11 17:36] #57 closed

[2020-03-11 17:36] thaliawww-service opened #58 "Go back to same position in calender"
In GitLab by kirstenkingma on Mar 11, 2018, 17:07

### One-sentence description
When you go back to the calender, after viewing an event, go back to the same position you were on in the calender.

### Desired behaviour

[2020-03-11 17:36] thaliawww-service commented on #58
In GitLab by @se-bastiaan on Mar 11, 2018, 17:08

This is a duplicate of #47

[2020-03-11 17:36] thaliawww-service commented on #58
In GitLab by @se-bastiaan on Mar 11, 2018, 17:08

closed

[2020-03-11 17:36] thaliawww-service commented on #58
In GitLab by kirstenkingma on Mar 11, 2018, 17:09

whoops sorry

[2020-03-11 17:36] #58 closed

[2020-03-11 17:36] thaliawww-service opened #59 "Automatically add events you're registered for to your phone calendar"
In GitLab by kirstenkingma on Mar 11, 2018, 16:57

### One-sentence description

Automatically add events you're registered for to your phone calendar

### Desired behaviour

Add a setting to the in-app calendar that allows you to enable 'event syncing'. This will automatically add/remove events for which you're registered. Events for which there is no registration should always be shown or have a

[2020-03-11 17:36] thaliawww-service commented on #59
In GitLab by @se-bastiaan on Mar 11, 2018, 17:04

Is this a correct description?

[2020-03-11 17:36] thaliawww-service commented on #59
In GitLab by kirstenkingma on Mar 11, 2018, 17:05

Yes, thanks!

[2020-03-11 17:36] thaliawww-service commented on #59
In GitLab by @se-bastiaan on Mar 11, 2018, 17:08

I'm not sure this is really doable. How are we going to authenticate a user? It would probably require us to generate some kind of token and if you share the token everyone would be able to see what events you're going to visit.

[2020-03-11 17:36] thaliawww-service commented on #59
In GitLab by kirstenkingma on Mar 11, 2018, 17:11

With everyone do you mean the whole world or everyone who downloads the ical feed?

[2020-03-11 17:36] thaliawww-service commented on #59
In GitLab by @se-bastiaan on Mar 11, 2018, 17:14

Everyone who has the token :p

I think creating tokens just to enable this would require quite some work while complicating the events package. Maybe it would be better to add a calendar sync functionality to the app, that's probably easier.

[2020-03-11 17:36] thaliawww-service commented on #59
In GitLab by kirstenkingma on Mar 11, 2018, 17:23

I trust you know whats the best solution. But I really do think (if there's time for it) this would be really helpfull for members <3

[2020-03-11 17:37] thaliawww-service commented on #59
In GitLab by @se-bastiaan on Mar 25, 2018, 15:44

moved from concrexit#603

[2020-03-11 17:37] thaliawww-service commented on #59
In GitLab by @thomwiggers on Mar 26, 2018, 15:58

The correct way to do it would be to register a calendar provider in Android: https://developer.android.com/guide/topics/providers/calendar-provider.html. I'm not sure how it'd work in iOS, but I imagine it'd be similar.

Some google searching found this package that may help to implement this functionality https://docs.expo.io/versions/latest/sdk/

[2020-03-11 17:37] thaliawww-service commented on #59
In GitLab by @se-bastiaan on Mar 26, 2018, 16:04

iOS has https://developer.apple.com/documentation/eventkit.

There is an existing library (https://github.com/wmcmahan/react-native-calendar-events) that does the largest part without requiring Expo.

[2020-03-11 17:37] thaliawww-service commented on #59
In GitLab by @thomwiggers on Mar 26, 2018, 16:17

I've also found that but it appears it doesn't really support creating new calendars etc.

[2020-03-11 17:37] thaliawww-service commented on #59
In GitLab by @thomwiggers on Mar 26, 2018, 16:18

Notably, you'd also want to register some synchronisation job.

[2020-03-11 17:37] thaliawww-service commented on #59
In GitLab by @gijshendriksen on Jun 13, 2018, 18:43

moved to concrexit#646

[2020-03-11 17:37] #59 closed

[2020-03-11 17:37] thaliawww-service opened #60 "Member List scrolling keeps repeating the same results"
In GitLab by @se-bastiaan on Mar 27, 2018, 19:17

### One-sentence description

Member List scrolling keeps repeating the same results

### Current behaviour

The MemberList component stops loading new results halfway the list.

### Expected behaviour

Perfect list scrolling

### Steps to reproduce

1. Open the MemberList
2. Start scrolling
3. Reach the 'M'
4. The app starts acting weird, keeps lo

[2020-03-11 17:37] thaliawww-service commented on #60
In GitLab by @se-bastiaan on Aug 30, 2018, 14:41

This seems to be solved somehow. Maybe the React Native update did it.

[2020-03-11 17:37] thaliawww-service commented on #60
In GitLab by @se-bastiaan on Aug 30, 2018, 14:41

closed

[2020-03-11 17:37] #60 closed

[2020-03-11 17:37] thaliawww-service opened #61 "Registration screen does not show your current registration info"
In GitLab by @gijshendriksen on Mar 28, 2018, 15:17

### One-sentence description
Registration screen does not show your current registration info.

### Current behaviour
When updating a registration in the app, like the Thalia weekend, you expect the app to fill in your previous answers to these fields, but all fields are blank.

### Expected behaviour
When updating a registration in the app, you

[2020-03-11 17:37] thaliawww-service commented on #61
In GitLab by @gijshendriksen on Mar 28, 2018, 17:17

assigned to @gijshendriksen

[2020-03-11 17:37] thaliawww-service commented on #61
In GitLab by @se-bastiaan on Mar 28, 2018, 18:52

closed via merge request !174

[2020-03-11 17:37] thaliawww-service commented on #61
In GitLab by @se-bastiaan on Mar 28, 2018, 18:52

mentioned in commit 2df0d10b67a47e48277e3320ffff3c3d01c386bd

[2020-03-11 17:37] #61 closed

[2020-03-11 17:37] thaliawww-service opened #62 "1 January 1970 on member profiles instead of '?'"
In GitLab by @se-bastiaan on Mar 29, 2018, 15:05

### One-sentence description

1 January 1970 on member profiles instead of '?'

### Current behaviour

The achievements show '1 January 1970'

### Expected behaviour

The achievements show '?'

### Steps to reproduce

1. Open the profile of Jeremy Guijt
2. check his membership of the Weekend Committee.

[2020-03-11 17:37] thaliawww-service commented on #62
In GitLab by @se-bastiaan on May 16, 2018, 20:28

closed via merge request !176

[2020-03-11 17:37] thaliawww-service commented on #62
In GitLab by @se-bastiaan on May 16, 2018, 20:28

mentioned in commit c3d6a2c89a05b716c8be1f566d0ed48ef93620e4

[2020-03-11 17:37] #62 closed

[2020-03-11 17:37] thaliawww-service opened #63 "Adjust profile picture in the application"
In GitLab by @mtsatsev on Mar 29, 2018, 18:00

### One-sentence description

Adjust profile picture in the application

### Desired behaviour

I'd like to be able to change my profile picture in the app

[2020-03-11 17:37] thaliawww-service commented on #63
In GitLab by bzandt on Oct 10, 2018, 19:36

created branch [`58-adjust-profile-picture-in-the-application`](https://gitlab.science.ru.nl/thalia/ThaliApp/compare/master...58-adjust-profile-picture-in-the-application)

[2020-03-11 17:37] thaliawww-service commented on #63
In GitLab by bzandt on Oct 24, 2018, 19:10

assigned to (at)bzandt

[2020-03-11 17:37] thaliawww-service commented on #63
In GitLab by @se-bastiaan on May 30, 2019, 11:17

unassigned (at)bzandt

[2020-03-11 17:37] thaliawww-service commented on #63
In GitLab by @se-bastiaan on Jun 13, 2019, 23:36

mentioned in commit 2ad3873ddec923204b56422bbf481bfaee562e55

[2020-03-11 17:37] thaliawww-service commented on #63
In GitLab by @se-bastiaan on Jun 13, 2019, 23:36

closed via merge request !272

[2020-03-11 17:37] #63 closed

[2020-03-11 17:37] thaliawww-service opened #64 "Register time not fully shown"
In GitLab by @joren485 on Apr 9, 2018, 10:34

### One-sentence description

The time registration will open for some event is not fully shown.

### Current behaviour

![Screenshot_ThaliApp_20180409-102700](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/5b7679784641a65660086393e6841449/Screenshot_ThaliApp_20180409-102700.png)

### Expected behaviour

The text reads

### Steps to reproduce

1

[2020-03-11 17:37] thaliawww-service commented on #64
In GitLab by @se-bastiaan on Apr 9, 2018, 11:08

This has been solved in !173

[2020-03-11 17:37] thaliawww-service commented on #64
In GitLab by @se-bastiaan on Apr 9, 2018, 11:08

closed

[2020-03-11 17:37] #64 closed

[2020-03-11 17:37] thaliawww-service opened #65 "Layout event texts not displayed"
In GitLab by ivarderksen on Apr 18, 2018, 10:45

### One-sentence description
Layout event texts are not displayed in app's event view

### Current behaviour
If you go to an event in the app (the event details), the layout (newlines, bold texts, links) of the body text in the event is not shown. For example for the Alumni Day the newlines are needed to normally read the program of the day.

### Ex

[2020-03-11 17:37] thaliawww-service commented on #65
In GitLab by @se-bastiaan on Apr 18, 2018, 11:03

Duplicate of #51. Thanks for the effort though.

[2020-03-11 17:37] thaliawww-service commented on #65
In GitLab by @se-bastiaan on Apr 18, 2018, 11:03

closed

[2020-03-11 17:37] #65 closed

[2020-03-11 17:37] thaliawww-service opened #66 "Reference to terms and conditions on event page"
In GitLab by @joren485 on May 16, 2018, 20:55

Please see concrexit#601

### One-sentence description
When registering a user should be able to see the terms and conditions.

### Why?
For the terms and conditions to be legal, users should be able to view them when registering.

### Current implementation
There is no reference to the terms and conditions on event pages.

### Desired implementation

[2020-03-11 17:37] thaliawww-service commented on #66
In GitLab by @gijshendriksen on May 16, 2018, 22:00

assigned to @gijshendriksen

[2020-03-11 17:37] thaliawww-service commented on #66
In GitLab by @se-bastiaan on Jun 20, 2018, 19:09

closed via merge request !177

[2020-03-11 17:37] thaliawww-service commented on #66
In GitLab by @se-bastiaan on Jun 20, 2018, 19:09

mentioned in commit e5f1da01ca7fd35ded038ca44504bbc509c8f878

[2020-03-11 17:37] #66 closed

[2020-03-11 17:37] thaliawww-service opened #67 "Events in the past are not shown"
In GitLab by @joren485 on Jun 3, 2018, 21:46

### One-sentence description

Events in the past are not shown

### Current behaviour

When the app opens an event that is in the past it shows the following error message:

[code]

### Expected behaviour

When the app opens an event that is in the past it shows information about the event.

### Steps to reproduce

1. Go to the events page on the websi

[2020-03-11 17:37] thaliawww-service commented on #67
In GitLab by @se-bastiaan on Jun 5, 2018, 17:00

closed via merge request concrexit!826

[2020-03-11 17:37] thaliawww-service commented on #67
In GitLab by @se-bastiaan on Jun 5, 2018, 17:00

mentioned in commit concrexit(at)49db34a2c2948912879ab623332f5a94a002dc56

[2020-03-11 17:38] #67 closed

[2020-03-11 17:38] thaliawww-service opened #68 "Push notification registration possibly broken"
In GitLab by @se-bastiaan on Jun 9, 2018, 23:06

### One-sentence description

Push notification registration possibly broken

### Current behaviour

We have not received any registrations of devices since March 21st.

### Expected behaviour

Receive registrations of devices regularly

### Steps to reproduce

1. Check the devices in the website admin

[2020-03-11 17:38] thaliawww-service commented on #68
In GitLab by @se-bastiaan on Jun 9, 2018, 23:08

Might be something we broke in concrexit 1.13+

[2020-03-11 17:38] thaliawww-service commented on #68
In GitLab by tvbussel on Jun 13, 2018, 19:44

mentioned in commit concrexit(at)998cd82793dd1a1cf60a890b3882843ae305e584

[2020-03-11 17:38] thaliawww-service commented on #68
In GitLab by tvbussel on Jun 13, 2018, 19:44

closed via merge request concrexit!832

[2020-03-11 17:38] #68 closed

[2020-03-11 17:38] thaliawww-service opened #69 "Back button does not work when scrolled down on profile page"
In GitLab by @pingiun on Jun 14, 2018, 20:33

### One-sentence description
On a profile page the back button won't go back if the user has scrolled down
### Current behaviour
On a profile page the back button won't go back if the user has scrolled down
### Expected behaviour
Back button works when the user has scrolled down
### Steps to reproduce

1. Go to a random user profile
2. Scroll down
3. T

[2020-03-11 17:38] thaliawww-service commented on #69
In GitLab by @gijshendriksen on Jun 20, 2018, 19:24

closed

[2020-03-11 17:38] #69 closed

[2020-03-11 17:38] thaliawww-service opened #70 "A share button for events"
In GitLab by @joren485 on Jun 24, 2018, 19:39

### One-sentence description
A share button for events.

### Desired behaviour
It would be great if there was a share button on an event page.
If, for example, you want to share an event with your friends in an WhatsApp group, a share button makes it much easier.

[2020-03-11 17:38] thaliawww-service commented on #70
In GitLab by @thomwiggers on Jun 25, 2018, 09:19

~~:-1:, Facebook buttons (which this will lead to) mean we'll need cookie agreements.~~ I thought this was thalia/concrexit

[2020-03-11 17:38] thaliawww-service commented on #70
In GitLab by @gijshendriksen on Sep 5, 2018, 19:12

closed via merge request !194

[2020-03-11 17:38] thaliawww-service commented on #70
In GitLab by @gijshendriksen on Sep 5, 2018, 19:12

mentioned in commit 21f3ee11aca607fdb1db76232121d90fad53c1f6

[2020-03-11 17:38] #70 closed

[2020-03-11 17:38] thaliawww-service opened #71 "When registering for the orientation barbecue after filling in the questions an error appears"
In GitLab by @lukovdm on Jul 19, 2018, 13:06

### One-sentence description
When registering for the orientation barbecue after filling in the questions an error appears.

### Current behaviour
After filling in the questions for registering the sorry could not load any data screen appears.

### Expected behaviour
No error

### Steps to reproduce

1. register for the orientation barbecue
2. Don't fi

[2020-03-11 17:38] thaliawww-service commented on #71
In GitLab by @joren485 on Jul 20, 2018, 11:19

I have successfully registered for the orientation BBQ through the app.

[2020-03-11 17:38] thaliawww-service commented on #71
In GitLab by @lukovdm on Jul 20, 2018, 11:22

It does successfully register it just displays that screen at the end.

[2020-03-11 17:38] thaliawww-service commented on #71
In GitLab by @se-bastiaan on Aug 30, 2018, 14:36

This should be solved. Was something serverside.

[2020-03-11 17:38] thaliawww-service commented on #71
In GitLab by @se-bastiaan on Aug 30, 2018, 14:36

closed

[2020-03-11 17:38] #71 closed

[2020-03-11 17:38] thaliawww-service opened #72 "The dot indicating whether you are registered for an event or not partially covers text"
In GitLab by @joren485 on Jul 20, 2018, 11:27

### One-sentence description

The dot indicating whether you are registered for an event or not partially covers text

### Current behaviour
![](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/73da3b462dfcfb0629e3eb186330c042/Screenshot_ThaliApp_20180720-112208.png)
The word "Berendonck" is (partially) covered.

### Expected behaviour
The text i

[2020-03-11 17:38] thaliawww-service commented on #72
In GitLab by @se-bastiaan on Aug 29, 2018, 21:18

mentioned in commit 8c3dc9766d9ab297bdbe5eaadba4d9513c928596

[2020-03-11 17:38] thaliawww-service commented on #72
In GitLab by @se-bastiaan on Aug 29, 2018, 21:18

closed via merge request !192

[2020-03-11 17:38] #72 closed

[2020-03-11 17:38] thaliawww-service opened #73 "Member List scrolling back to top when returning from member"
In GitLab by @joren485 on Jul 20, 2018, 11:33

### One-sentence description
Member List scrolling back to top when returning from member

### Current behaviour
When going back to the Member List, the list is at the top.

### Expected behaviour
When going back to the Member List, the list is at position you were in when you selected a member.

### Steps to reproduce

1. Go to the Member List
2. Scr

[2020-03-11 17:38] thaliawww-service commented on #73
In GitLab by @se-bastiaan on Jul 20, 2018, 12:29

It's exactly #47, have put these steps to reproduce there as well.

[2020-03-11 17:38] thaliawww-service commented on #73
In GitLab by @se-bastiaan on Jul 20, 2018, 12:29

closed

[2020-03-11 17:38] #73 closed

[2020-03-11 17:38] thaliawww-service opened #74 "Replace react-native-fcm by react-native-firebase"
In GitLab by @se-bastiaan on Jul 21, 2018, 20:48

### One-sentence description

### Why?

Better code, better support, up-to-date.

### Current implementation

Using https://github.com/evollu/react-native-fcm

### Desired implementation

Use https://github.com/invertase/react-native-firebase

[2020-03-11 17:38] thaliawww-service commented on #74
In GitLab by @se-bastiaan on Aug 13, 2018, 22:45

assigned to @se-bastiaan

[2020-03-11 17:38] thaliawww-service commented on #74
In GitLab by @gijshendriksen on Aug 30, 2018, 12:10

mentioned in commit 23311e49f9f4d91395f336248b32d0e401f9886a

[2020-03-11 17:38] thaliawww-service commented on #74
In GitLab by @gijshendriksen on Aug 30, 2018, 12:10

closed via merge request !189

[2020-03-11 17:38] #74 closed

[2020-03-11 17:38] thaliawww-service opened #75 ""Register" button in Login screen"
In GitLab by @gijshendriksen on Aug 13, 2018, 15:36

### One-sentence description
Add button to register as a member in the Login screen, which can open the website when pressed.

### Desired behaviour
The only current options in the Login screen are "login" and "forgot password". For new students, it could be useful to add a button showing where they can register as a member.

[2020-03-11 17:38] thaliawww-service commented on #75
In GitLab by @se-bastiaan on Aug 30, 2018, 11:50

closed via commit 7c40835247edaf58862b4fb470f6d4e1ef3c5dc0

[2020-03-11 17:38] thaliawww-service commented on #75
In GitLab by @se-bastiaan on Aug 30, 2018, 11:50

closed via merge request !191

[2020-03-11 17:38] thaliawww-service commented on #75
In GitLab by @se-bastiaan on Aug 30, 2018, 17:24

mentioned in commit 7c40835247edaf58862b4fb470f6d4e1ef3c5dc0

[2020-03-11 17:38] #75 closed

[2020-03-11 17:38] thaliawww-service opened #76 "Deeplinks on iOS do not work"
In GitLab by @se-bastiaan on Sep 5, 2018, 19:26

### One-sentence description

Deeplinks on iOS do not work

### Current behaviour

Opening a deeplinked URL, no app opening.

### Expected behaviour

Opening a deeplinked URL, app opens.

### Steps to reproduce

1. Open https://thalia.nu/events/1 on an iOS device

[2020-03-11 17:38] thaliawww-service commented on #76
In GitLab by @se-bastiaan on Sep 8, 2018, 18:27

Apparently the deeplinks do work, it's just iOS behaviour to not always open the app. Safari shows the app as an option to open.

[2020-03-11 17:38] thaliawww-service commented on #76
In GitLab by @se-bastiaan on Sep 8, 2018, 18:27

closed

[2020-03-11 17:38] thaliawww-service commented on #76
In GitLab by @se-bastiaan on Sep 8, 2018, 18:33

![File](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/14606282dd0b7492a5cf14d65ce12ec9/File.jpg)

[2020-03-11 17:39] #76 closed

[2020-03-11 17:39] thaliawww-service opened #77 "App shows "register" button when a user has cancelled after the deadline"
In GitLab by @gijshendriksen on Sep 5, 2018, 19:42

### One-sentence description
When a user cancels their registration for an event after the cancellation deadline, the app still displays the "Register" button even though it shouldn't.

### Current behaviour
When a user cancels their registration for an event after the cancellation deadline, the app still displays the "Register" button even thoug

[2020-03-11 17:39] thaliawww-service commented on #77
In GitLab by @se-bastiaan on Oct 10, 2018, 23:04

closed via commit 9da4866d82522f58fd4afb50c0eaa3f6d16888ae

[2020-03-11 17:39] thaliawww-service commented on #77
In GitLab by @se-bastiaan on Oct 10, 2018, 23:04

closed via merge request !206

[2020-03-11 17:39] thaliawww-service commented on #77
In GitLab by @se-bastiaan on Oct 12, 2018, 16:39

mentioned in commit 9da4866d82522f58fd4afb50c0eaa3f6d16888ae

[2020-03-11 17:39] #77 closed

[2020-03-11 17:39] thaliawww-service opened #78 "Notification deeplinking"
In GitLab by @se-bastiaan on Sep 6, 2018, 14:27

### One-sentence description

Notification deeplinking

### Desired behaviour

We want actions attached to notifications, currently notifications just open the application without any further functionality.

### Implementation details

FCM has a default way of adding actions to notifications by utilising the `click_action` parameter. This seems to b

[2020-03-11 17:39] thaliawww-service commented on #78
In GitLab by @se-bastiaan on Oct 10, 2018, 22:39

closed via merge request !208

[2020-03-11 17:39] thaliawww-service commented on #78
In GitLab by @se-bastiaan on Oct 10, 2018, 22:39

closed via commit 4906698e597a8db6b59614ae80711acf47bf5db3

[2020-03-11 17:39] thaliawww-service commented on #78
In GitLab by @se-bastiaan on Oct 10, 2018, 22:40

mentioned in commit 4906698e597a8db6b59614ae80711acf47bf5db3

[2020-03-11 17:39] #78 closed

[2020-03-11 17:39] thaliawww-service opened #79 "Deeplinks on Android do not work"
In GitLab by @se-bastiaan on Sep 6, 2018, 14:41

### One-sentence description

Deeplinks on Android do not work

### Current behaviour

App opens, keeps loading

### Expected behaviour

App opens right screen

### Steps to reproduce

1. Open https://thalia.nu/events/237/

[2020-03-11 17:39] thaliawww-service commented on #79
In GitLab by @se-bastiaan on Sep 6, 2018, 14:41

assigned to @gijshendriksen

[2020-03-11 17:39] thaliawww-service commented on #79
In GitLab by @se-bastiaan on Sep 7, 2018, 21:39

closed via merge request !200

[2020-03-11 17:39] thaliawww-service commented on #79
In GitLab by @se-bastiaan on Sep 7, 2018, 21:39

mentioned in commit ace2ae876f109e57ebba46e9aac6104c22e0df74

[2020-03-11 17:39] #79 closed

[2020-03-11 17:39] thaliawww-service opened #80 "Add descriptions to notification categories"
In GitLab by @se-bastiaan on Sep 6, 2018, 18:35

### One-sentence description

Add descriptions to notification categories

### Desired behaviour

The notification settings just show titles but it is not defined what these categories are for exactly. It's too vague. Adding a description would probably help.

[2020-03-11 17:39] thaliawww-service commented on #80
In GitLab by @gijshendriksen on Sep 7, 2018, 18:42

We should also create an issue for this in `concrexit`, as the categories are loaded from the server.

[2020-03-11 17:39] thaliawww-service commented on #80
In GitLab by @gijshendriksen on Oct 3, 2018, 21:43

assigned to @gijshendriksen

[2020-03-11 17:39] thaliawww-service commented on #80
In GitLab by @se-bastiaan on Oct 10, 2018, 19:37

closed via merge request !207

[2020-03-11 17:39] thaliawww-service commented on #80
In GitLab by @se-bastiaan on Oct 10, 2018, 19:37

mentioned in commit c15c614d8444d9619d46552f0d5f2e04ab1d6363

[2020-03-11 17:39] #80 closed

[2020-03-11 17:39] thaliawww-service opened #81 "Cannot login after failed login on iOS"
In GitLab by @se-bastiaan on Sep 8, 2018, 18:42

### One-sentence description

Cannot login after failed login on iOS

### Current behaviour

Infinite loading when trying again after failed login attempty

### Expected behaviour

Process the login

### Steps to reproduce

1. Enter false login details
2. Login
3. Wait till fails
3. Enter true/false login details
4. Infinite loading screen

[2020-03-11 17:39] thaliawww-service commented on #81
In GitLab by @se-bastiaan on May 30, 2019, 11:17

Still an issue in 2.7.0

[2020-03-11 17:39] thaliawww-service commented on #81
In GitLab by @se-bastiaan on Jun 13, 2019, 23:36

closed via merge request !272

[2020-03-11 17:39] thaliawww-service commented on #81
In GitLab by @se-bastiaan on Jun 13, 2019, 23:36

mentioned in commit 2ad3873ddec923204b56422bbf481bfaee562e55

[2020-03-11 17:39] #81 closed

[2020-03-11 17:39] thaliawww-service opened #82 "Default language is Dutch"
In GitLab by @se-bastiaan on Sep 17, 2018, 17:04

### One-sentence description

Default language is Dutch

### Current behaviour

The content inside the app loaded from the API is Dutch on phones that do not have the region settings set to English or Dutch. For example Russian.

### Expected behaviour

The content inside the app loaded from the API is English for phones that do not have the region

[2020-03-11 17:39] thaliawww-service commented on #82
In GitLab by @se-bastiaan on Sep 17, 2018, 19:33

Apparently it's just the text of the events. Since the language code is directly sent.
This should be solved once https://gitlab.science.ru.nl/thalia/concrexit/issues/704 is implemented, however I think that we should still fix this in the app.

[2020-03-11 17:39] thaliawww-service commented on #82
In GitLab by @gijshendriksen on Sep 19, 2018, 19:09

mentioned in commit 8dcf3c998231298fa3595327e955d4d6c678259f

[2020-03-11 17:39] thaliawww-service commented on #82
In GitLab by @gijshendriksen on Sep 19, 2018, 19:09

closed via merge request !203

[2020-03-11 17:39] #82 closed

[2020-03-11 17:39] thaliawww-service opened #83 "Update to React Native 0.58"
In GitLab by @se-bastiaan on Sep 25, 2018, 10:18

See https://github.com/facebook/react-native/releases/tag/v0.58.0

[2020-03-11 17:39] thaliawww-service commented on #83
In GitLab by @gijshendriksen on Mar 6, 2019, 20:04

closed via merge request !231

[2020-03-11 17:39] thaliawww-service commented on #83
In GitLab by @gijshendriksen on Mar 6, 2019, 20:04

mentioned in commit 4ce9022fa2286cc8f73d643f69b08674e55bf7ca

[2020-03-11 17:39] #83 closed

[2020-03-11 17:39] thaliawww-service opened #84 "Access to build artifacts not allowed for non-members"
In GitLab by fpack on Sep 26, 2018, 19:00

Access to the build artifacts seems only allowed for project members, this is probably not intentional?

[2020-03-11 17:39] thaliawww-service commented on #84
In GitLab by @gijshendriksen on Sep 26, 2018, 19:30

Since the build artifacts do not correspond to the app versions we actually release, it is not desirable to allow installation using the build artifacts. They are often the wrong (a newer or debug) version, and don't have the correct signature for the apk.
Therefore, it is intentional that non-members cannot download the artifacts.

[2020-03-11 17:39] thaliawww-service commented on #84
In GitLab by @gijshendriksen on Sep 26, 2018, 19:30

closed

[2020-03-11 17:39] thaliawww-service commented on #84
In GitLab by fpack on Sep 26, 2018, 19:52

I see, maybe you could then upload the released versions to their corresponding tag page on gitlab?

Just so there is another way to get the app other than Play Store or building yourself ;)

[2020-03-11 17:39] thaliawww-service commented on #84
In GitLab by @gijshendriksen on Sep 26, 2018, 20:09

Unfortunately, the apks are slightly too large to add them as an attachment on GitLab. However, if you send an email to `www(at)thalia.nu` I'm happy to send you the latest version.

[2020-03-11 17:39] thaliawww-service commented on #84
In GitLab by fpack on Sep 26, 2018, 20:51

Ah, that's a shame. I'll do that then :smile:

[2020-03-11 17:40] thaliawww-service commented on #84
In GitLab by @thomwiggers on Sep 27, 2018, 13:15

Since the app is open source, we could perhaps try to get it into F-Droid if someone contributes a build script...

[2020-03-11 17:40] thaliawww-service commented on #84
In GitLab by fpack on Sep 27, 2018, 15:01

@thomwiggers I think F-Droid requires the App to be built without the play services library, so the build process would need an option to omit that library. I don't know how much work that would be, though.

[2020-03-11 17:40] thaliawww-service commented on #84
In GitLab by @thomwiggers on Oct 10, 2018, 20:54

Not sure, I think you can specify ["AntiFeatures"](https://f-droid.org/docs/Build_Metadata_Reference/#AntiFeatures) but I can't find any apps that have play services in the F-Droid repositories...

[2020-03-11 17:40] thaliawww-service commented on #84
In GitLab by @thomwiggers on Oct 10, 2018, 20:55

We could by the way ask CnCZ to allow larger attachments in releases.

[2020-03-11 17:40] #84 closed

[2020-03-11 17:40] thaliawww-service opened #85 "Location map in Events broken"
In GitLab by @se-bastiaan on Sep 26, 2018, 20:58

### One-sentence description

Location map in Events broken

### Current behaviour

Not loading map image

### Expected behaviour

Loading the map works

### Steps to reproduce

1. Open an event
2. No map image at the top

[2020-03-11 17:40] thaliawww-service commented on #85
In GitLab by @gijshendriksen on Oct 3, 2018, 18:44

assigned to @gijshendriksen

[2020-03-11 17:40] thaliawww-service commented on #85
In GitLab by @se-bastiaan on Oct 10, 2018, 19:14

closed via merge request !205

[2020-03-11 17:40] thaliawww-service commented on #85
In GitLab by @se-bastiaan on Oct 10, 2018, 19:14

mentioned in commit 1f74cccce0c62d13f43d42797cd572a5dbf008f5

[2020-03-11 17:40] #85 closed

[2020-03-11 17:40] thaliawww-service opened #86 "iOS: Registration for push notifications fails (403)"
In GitLab by @se-bastiaan on Oct 3, 2018, 08:20

### One-sentence description

iOS: Registration for push notifications fails (403)

### Current behaviour

https://sentry.thalia.nu/sentry/thaliapp/issues/73

### Expected behaviour

Works

### Steps to reproduce

1. Get an iOS device
2. Have it push the FCM token

[2020-03-11 17:40] thaliawww-service commented on #86
In GitLab by @se-bastiaan on Apr 6, 2019, 14:29

This does not seem to be a problem anymore.

[2020-03-11 17:40] thaliawww-service commented on #86
In GitLab by @se-bastiaan on Apr 6, 2019, 14:29

closed

[2020-03-11 17:40] #86 closed

[2020-03-11 17:40] thaliawww-service opened #87 "Improve code of EventScreen"
In GitLab by @se-bastiaan on Oct 10, 2018, 20:12

### One-sentence description

There is a lot of code duplication in the EventScreen file in `eventActions` and `eventInfo`. `isLateCancellation` and `regStarted` for example.

### Why?

Bad code.

### Current implementation

Not DRY

### Desired implementation

DRY

[2020-03-11 17:40] thaliawww-service commented on #87
In GitLab by bzandt on Nov 7, 2018, 19:54

created branch [`82-improve-code-of-eventscreen`](https://gitlab.science.ru.nl/thalia/ThaliApp/compare/master...82-improve-code-of-eventscreen)

[2020-03-11 17:40] thaliawww-service commented on #87
In GitLab by @lukovdm on Jan 30, 2019, 21:31

closed via merge request !224

[2020-03-11 17:40] thaliawww-service commented on #87
In GitLab by @lukovdm on Jan 30, 2019, 21:31

mentioned in commit 404be9cc5cd1b1ddb1e17cf5ed950be3cb8c2d34

[2020-03-11 17:40] #87 closed

[2020-03-11 17:40] thaliawww-service opened #88 "Split societies from 'Achievements for Thalia' to different header on profile"
In GitLab by @se-bastiaan on Oct 25, 2018, 11:40

Related to https://gitlab.science.ru.nl/thalia/concrexit/issues/755 for the API

### One-sentence description

Split societies from 'Achievements for Thalia' to different header on profile

### Current behaviour

Societies are in the achievements list

### Expected behaviour

Societies are in a separate list

### Steps to reproduce

1. Open a profi

[2020-03-11 17:40] thaliawww-service commented on #88
In GitLab by @se-bastiaan on Dec 12, 2018, 19:33

closed via merge request !216

[2020-03-11 17:40] thaliawww-service commented on #88
In GitLab by @se-bastiaan on Dec 12, 2018, 19:33

mentioned in commit d05d7d39c44ce77c7aabd8299398d534f2741a59

[2020-03-11 17:40] #88 closed

[2020-03-11 17:40] thaliawww-service opened #89 "It is not possible to switch the language"
In GitLab by @joren485 on Nov 1, 2018, 12:02

### Desired behaviour
Add a way to easily switch between Dutch and English.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @se-bastiaan on Nov 1, 2018, 12:08

Can you explain why this would improve the app? The app follows the language of the phone.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @joren485 on Nov 1, 2018, 12:11

A use case might be:

An event is given in Dutch and the English event description is something like "This event is in dutch, please view the dutch version for a description". It would be nice for someone who has their phone set to English to easily be able to view the Dutch version.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @se-bastiaan on Nov 1, 2018, 12:14

That doesn't improve the app. The problem there is that the description is in the Dutch description. The English description should be 'This event is in Dutch ... <Description in dutch follows>'

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @joren485 on Nov 1, 2018, 12:21

I agree that the problem is not with the app, but with how people enter event descriptions.

A lot of events that are in Dutch only have "This event is in Dutch" as the English description. People who set their phone to English can not see the Dutch description at the moment.

Event organisers are not going to translate the descriptions to English (bec

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @se-bastiaan on Nov 1, 2018, 12:23

Imo it's better to have a Dutch description for a Dutch event than having no description at all and forcing me to set my language to Dutch just to get that description.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @joren485 on Nov 1, 2018, 12:26

Maybe there should be an option in the events backend to make an event Dutch only, which means that "**This event is in Dutch**\n{ Dutch Description }" is shown as the English description?

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @se-bastiaan on Nov 1, 2018, 13:35

That's way more work (due to our use of multilang fields) than just copy-pasting a description in the event for every Dutch-only event.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @joren485 on Nov 1, 2018, 13:36

How will we force people to use the Dutch description?

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @se-bastiaan on Nov 1, 2018, 13:40

We don't force them, we just ask. As I already did with Iris, she simply didn't figure that Dutch speaking people might use the website/app in English.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @joren485 on Nov 1, 2018, 13:41

In that case a helpful reminder in the backend might be the best option.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @gijshendriksen on Nov 7, 2018, 19:07

If this is issue is mainly concerned with these incorrect event descriptions, can we close it?

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @joren485 on Nov 7, 2018, 20:15

If there is a correct issue on the website repo? Yes.

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @gijshendriksen on Nov 8, 2018, 17:13

Closing in favour of concrexit#765

[2020-03-11 17:40] thaliawww-service commented on #89
In GitLab by @gijshendriksen on Nov 8, 2018, 17:13

closed

[2020-03-11 17:40] #89 closed

[2020-03-11 17:40] thaliawww-service opened #90 "Cancellation notice not in correct language"
In GitLab by @JobDoesburg on Nov 7, 2018, 00:37

![D61CA465-FBA7-48BF-82DA-8BE74BA56B2B](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/48b1897be0747896c14886acc6c55a30/D61CA465-FBA7-48BF-82DA-8BE74BA56B2B.png)/label ~bug ~"priority: medium"

### One-sentence description
Message about cancellation for an event is in both Dutch and English while app is set to Dutch

### Current behaviour
The

[2020-03-11 17:40] thaliawww-service commented on #90
In GitLab by @joren485 on Nov 7, 2018, 10:36

Could you please write a clearer issue description. "Language troubles" combined with a screenshot is not very descriptive. It is not immediately clear from the title or the screenshot what the problem exactly is.

[2020-03-11 17:40] thaliawww-service commented on #90
In GitLab by @gijshendriksen on Nov 8, 2018, 17:48

This was due to a problem in the way `yarn locales:collect` collects the locales and has been fixed already. The fix is included in the Beta release I just rolled out and will be pushed to production soon.

[2020-03-11 17:40] thaliawww-service commented on #90
In GitLab by @gijshendriksen on Nov 8, 2018, 17:48

closed

[2020-03-11 17:41] #90 closed

[2020-03-11 17:41] thaliawww-service opened #91 "Birthday congratulations push-notification"
In GitLab by @JobDoesburg on Nov 7, 2018, 00:33

### One-sentence description

An automated push-notification on your phone at your birthday.

### Motivation

Just for fun. For real, give it the lowest priority possible, I only thought of it a minute ago and it would be fun.

### Desired functionality

Thalia has members. Those members are persons. Persons have a date of birth. Thalia knows this d

[2020-03-11 17:41] thaliawww-service commented on #91
In GitLab by thijsdejong on Nov 14, 2018, 22:07

moved from concrexit#760

[2020-03-11 17:41] thaliawww-service commented on #91
In GitLab by @gijshendriksen on Nov 15, 2018, 13:57

(at)thijsdejong why has this issue been moved to the ThaliApp repository? The website is in charge of scheduling and sending push notifications.

[2020-03-11 17:41] thaliawww-service commented on #91
In GitLab by @se-bastiaan on Nov 15, 2018, 14:05

moved to concrexit#778

[2020-03-11 17:41] #91 closed

[2020-03-11 17:41] thaliawww-service opened #92 "Crash in event information fields"
In GitLab by @se-bastiaan on Nov 15, 2018, 14:07

### One-sentence description

Crash in event information fields

### Current behaviour

https://sentry.thalia.nu/share/issue/cd868f9fe71a4fe2b930cc853ac8d8a4/

The app crashes

### Expected behaviour

Value field is empty

### Steps to reproduce

1. Create an event with information fields where 1 field is for integers
2. Register for the event and

[2020-03-11 17:41] thaliawww-service commented on #92
In GitLab by @se-bastiaan on Dec 3, 2018, 12:32

closed via commit e9e97b21c3233b17c6b8a44bab6c51a945ea43dd

[2020-03-11 17:41] thaliawww-service commented on #92
In GitLab by @se-bastiaan on Dec 3, 2018, 12:32

closed via merge request !215

[2020-03-11 17:41] #92 closed

[2020-03-11 17:41] thaliawww-service opened #93 "Event registrations admin"
In GitLab by @gijshendriksen on Dec 19, 2018, 19:00

### One-sentence description
Implement the admin for events in the ThaliApp.

### Desired behaviour
If the user is organizer of an event, allow the user to open an admin screen of the registrations of that event. In this admin screen, the user can update the registration status of all participants.

[2020-03-11 17:41] thaliawww-service commented on #93
In GitLab by thijsdejong on Jan 10, 2019, 00:33

closed via merge request !220

[2020-03-11 17:41] thaliawww-service commented on #93
In GitLab by thijsdejong on Jan 10, 2019, 00:33

mentioned in commit 10d24f2295eb69969b4d5925c3821cbb06af2556

[2020-03-11 17:41] #93 closed

[2020-03-11 17:41] thaliawww-service opened #94 "Pizza order admin"
In GitLab by @gijshendriksen on Dec 19, 2018, 19:06

### One-sentence description
Implement the admin for pizza orders in the ThaliApp.

### Desired behaviour
If the user is organizer of a pizza event, allow the user to open an admin screen of the pizza orders of that pizza event. In this admin screen, the user can update the order status of all orders.

[2020-03-11 17:41] thaliawww-service commented on #94
In GitLab by @se-bastiaan on Apr 6, 2019, 15:16

I would argue that this is blocked by concrexit#840

[2020-03-11 17:41] thaliawww-service commented on #94
In GitLab by @gijshendriksen on Nov 6, 2019, 19:18

assigned to @gijshendriksen

[2020-03-11 17:41] thaliawww-service opened #95 "Calendar filtering options"
In GitLab by @gijshendriksen on Jan 22, 2019, 11:38

### One-sentence description
Add filtering options to the calendar for different kinds of registration status.

### Desired behaviour
Add filtering options to the calendar, for example the following:

* Show only events for which you are registered
* Show only events for which the registrations are open

[2020-03-11 17:41] thaliawww-service commented on #95
In GitLab by thijsdejong on Sep 11, 2019, 21:27

assigned to (at)thijsdejong

[2020-03-11 17:41] thaliawww-service commented on #95
In GitLab by @gijshendriksen on Mar 4, 2020, 21:39

unassigned (at)thijsdejong

[2020-03-11 17:41] thaliawww-service opened #96 "Improve layout of RegistrationScreen"
In GitLab by @gijshendriksen on Jan 30, 2019, 19:27

Related to concrexit#814.

### One-sentence description
The layout of the `RegistrationScreen` sometimes makes it hard to see the description of the registration fields.

### Current behaviour
The description is used as a placeholder in the input field, meaning it will be truncated if it is too long.

### Expected behaviour
The description is fu

[2020-03-11 17:41] thaliawww-service commented on #96
In GitLab by @se-bastiaan on Jan 30, 2019, 19:41

Also: the description is not rendered for checkboxes at all.

[2020-03-11 17:41] thaliawww-service commented on #96
In GitLab by @se-bastiaan on Jan 31, 2019, 16:08

closed via merge request !226

[2020-03-11 17:41] thaliawww-service commented on #96
In GitLab by @se-bastiaan on Jan 31, 2019, 16:08

mentioned in commit 746809dfda4f9c6691f7c043fe73bab9a2870283

[2020-03-11 17:41] #96 closed

[2020-03-11 17:41] thaliawww-service opened #97 "Search for Calendar events"
In GitLab by rwechel on Feb 2, 2019, 16:26

### One-sentence description
Search for Calendar events.

### Desired behaviour
Since scrolling up is used for refreshing the page, maybe add a search functionality.

[2020-03-11 17:41] thaliawww-service commented on #97
In GitLab by @se-bastiaan on Feb 2, 2019, 16:51

Why?

[2020-03-11 17:41] thaliawww-service commented on #97
In GitLab by rwechel on Feb 2, 2019, 17:53

Just something that came to mind the other day. I realized I would find this useful after I wanted to change someones attendance status after the event happened. Perhaps a low priority label would be more suitable.
By the way; this is an issue created on personal title

[2020-03-11 17:41] thaliawww-service commented on #97
In GitLab by @se-bastiaan on Feb 2, 2019, 17:58

I just noticed that our new issue templates are not in this repo. We've added a motivation part to it.

[2020-03-11 17:41] thaliawww-service commented on #97
In GitLab by @se-bastiaan on May 30, 2019, 14:27

I think that adding search for events would be easier to implement, since the sectionlist cannot start at a certain position by default. It's not made for such a thing.

[2020-03-11 17:41] thaliawww-service commented on #97
In GitLab by rwechel on May 31, 2019, 19:11

Maybe even better :)

[2020-03-11 17:41] thaliawww-service commented on #97
In GitLab by @DeD1rk on Nov 6, 2019, 21:33

created merge request !398 to address this issue

[2020-03-11 17:41] thaliawww-service opened #98 "Push notification text does not open in app"
In GitLab by @gijshendriksen on Feb 21, 2019, 17:23

### One-sentence description

Apparently, pressing a push notification does not open its text in the app, even though it's supposed to.

### Current behaviour / Reproducing the bug

1. Open push notification
2. Notice the message is not repeated in the app

### Expected behaviour

1. Open push notification
2. Notice the message is repeated in th

[2020-03-11 17:41] thaliawww-service commented on #98
In GitLab by @se-bastiaan on May 30, 2019, 15:38

closed via merge request !270

[2020-03-11 17:41] thaliawww-service commented on #98
In GitLab by @se-bastiaan on May 30, 2019, 15:38

mentioned in commit a051ca64817621847998b061ee19407f65116cf3

[2020-03-11 17:41] #98 closed

[2020-03-11 17:41] thaliawww-service opened #99 "Move SYSTEM_ALERT_WINDOW to debug AndroidManifest"
In GitLab by @se-bastiaan on Mar 5, 2019, 15:49

### One-sentence description

Move SYSTEM_ALERT_WINDOW to debug AndroidManifest

### Why?

Not required for releases

### Current implementation

It's always enabled.

### Suggested implementation

https://stackoverflow.com/questions/37179472/how-do-you-remove-the-required-system-alert-window-permission-for-release-versio

[2020-03-11 17:41] thaliawww-service commented on #99
In GitLab by @se-bastiaan on May 22, 2019, 19:35

mentioned in commit e00c479c591e62f280e02e3ea49e41f215fd1e3f

[2020-03-11 17:41] thaliawww-service commented on #99
In GitLab by @se-bastiaan on May 22, 2019, 19:35

closed via merge request !234

[2020-03-11 17:41] #99 closed

[2020-03-11 17:41] thaliawww-service opened #100 "Find out where READ_PHONE_STATE permission is coming from"
In GitLab by @se-bastiaan on Mar 5, 2019, 15:53

### One-sentence description

Find out where READ_PHONE_STATE permission is coming from

### Current behaviour / Reproducing the bug

App asks for https://developer.android.com/reference/android/Manifest.permission.html#READ_PHONE_STATE

### Expected behaviour

We don't need that permission

[2020-03-11 17:41] thaliawww-service commented on #100
In GitLab by @se-bastiaan on May 22, 2019, 19:35

mentioned in commit e00c479c591e62f280e02e3ea49e41f215fd1e3f

[2020-03-11 17:42] thaliawww-service commented on #100
In GitLab by @se-bastiaan on May 22, 2019, 19:35

closed via merge request !234

[2020-03-11 17:42] #100 closed

[2020-03-11 17:42] thaliawww-service opened #101 "Refactor mapDispatchToProps"
In GitLab by @se-bastiaan on Apr 6, 2019, 14:28

### One-sentence description

Refactor mapDispatchToProps

### Why?

https://dev.to/mcrowder65/you-ve-been-doing-mapdispatchtoprops-wrong-this-entire-time-582m

### Current implementation

See Why

### Suggested implementation

See Why

[2020-03-11 17:42] thaliawww-service commented on #101
In GitLab by @se-bastiaan on May 22, 2019, 19:35

closed via merge request !234

[2020-03-11 17:42] thaliawww-service commented on #101
In GitLab by @se-bastiaan on May 22, 2019, 19:35

mentioned in commit e00c479c591e62f280e02e3ea49e41f215fd1e3f

[2020-03-11 17:42] #101 closed

[2020-03-11 17:42] thaliawww-service opened #102 "AsyncStorage is deprecated"
In GitLab by @se-bastiaan on May 21, 2019, 22:11

### One-sentence description

AsyncStorage is deprecated

### Why?

Replaced by `(at)react-native-community/async-storage`

### Current implementation

Built-in AsyncStorage.

[2020-03-11 17:42] thaliawww-service commented on #102
In GitLab by @se-bastiaan on May 30, 2019, 16:06

mentioned in commit 6b9ded9eb7adcaf9eadef8b19fb90578437d2c73

[2020-03-11 17:42] thaliawww-service commented on #102
In GitLab by @se-bastiaan on May 30, 2019, 16:06

closed via merge request !271

[2020-03-11 17:42] #102 closed

[2020-03-11 17:42] thaliawww-service opened #103 "Event admin name search requires right diacritics"
In GitLab by @se-bastiaan on May 28, 2019, 13:35

### One-sentence description

Event admin name search requires right diacritics

### Current behaviour / Reproducing the bug

1. Open an event with me (Sébastiaan) registered.
2. Open the admin view
3. Search for `Sebas`
4. Don't find me

### Expected behaviour

1. Open an event with me (Sébastiaan) registered.
2. Open the admin view
3. Search for

[2020-03-11 17:42] thaliawww-service commented on #103
In GitLab by @se-bastiaan on May 29, 2019, 23:41

mentioned in commit 66c330991714e8adff2d120ae557baf2f12f57e4

[2020-03-11 17:42] thaliawww-service commented on #103
In GitLab by @se-bastiaan on May 29, 2019, 23:41

closed via merge request !262

[2020-03-11 17:42] #103 closed

[2020-03-11 17:42] thaliawww-service opened #104 "In-app notification center"
In GitLab by @se-bastiaan on May 30, 2019, 17:01

### One-sentence description
In-app notification center

### Motivation

To be able to see all the previously received notifications. Currently they just seem to disappear.

### Desired functionality

An overview of all the notifications.

### Suggested implementation

Have an API on the website expose the notifications and load a simple list.

[2020-03-11 17:42] thaliawww-service opened #105 "In-app photo gallery"
In GitLab by @se-bastiaan on May 30, 2019, 17:02

### One-sentence description

In-app photo gallery

### Motivation

Because it's fun to watch photos and probably easier to navigate in an app than on a website.

### Desired functionality

Photo gallery.

[2020-03-11 17:42] thaliawww-service commented on #105
In GitLab by @pingiun on Jun 19, 2019, 20:42

assigned to @se-bastiaan

[2020-03-11 17:42] thaliawww-service commented on #105
In GitLab by @se-bastiaan on Jun 19, 2019, 20:42

unassigned @se-bastiaan

[2020-03-11 17:42] thaliawww-service commented on #105
In GitLab by @pingiun on Jun 19, 2019, 20:42

assigned to @se-bastiaan

[2020-03-11 17:42] thaliawww-service commented on #105
In GitLab by @se-bastiaan on Jun 20, 2019, 17:01

unassigned @se-bastiaan

[2020-03-11 17:42] thaliawww-service commented on #105
In GitLab by @se-bastiaan on Jun 21, 2019, 18:35

closed via merge request !299

[2020-03-11 17:42] thaliawww-service commented on #105
In GitLab by @se-bastiaan on Jun 21, 2019, 18:35

mentioned in commit 8e5841ff28edbb19bc5333eba891f79a6ef4d45d

[2020-03-11 17:42] #105 closed

[2020-03-11 17:42] thaliawww-service opened #106 "Updating registration"
In GitLab by gerlings on Jun 3, 2019, 13:54

### One-sentence
Updating your registration from something to an empty string it will not update the registration. Instead it shows "Sorry! We couldn't load any data. Try again later."

### Current behaviour / Reproducing the bug

1. Register for an event. (EoS)
2. Enter a dietary preference.
3. Confirm registration.
4. Update registration to empty stri

[2020-03-11 17:42] thaliawww-service commented on #106
In GitLab by @se-bastiaan on Jun 3, 2019, 14:29

Possibly solved in 2.7.0

[2020-03-11 17:42] thaliawww-service commented on #106
In GitLab by _thaliatechnicie on Jun 3, 2019, 16:52

Sentry issue: [THALIAPP-E](https://sentry.io/organizations/thalia/issues/1048753589/?referrer=gitlab_integration)

[2020-03-11 17:42] thaliawww-service commented on #106
In GitLab by gerlings on Jun 4, 2019, 08:46

Context: Max Leijtens kwam deze issue tegen en vervolgens heb ik hem ingevoerd.

"Ik heb hem geüpdate, maar nu doet hij het nog steeds niet. Als je nu echter letters verwijdert verschijnt er ook nog undefined"

[2020-03-11 17:42] thaliawww-service commented on #106
In GitLab by @se-bastiaan on Jun 4, 2019, 08:48

Superbedankt! Ik was 't zelf niet meer tegengekomen anders. Nu kan ik er naar kijken voor de volgende update.

[2020-03-11 17:42] thaliawww-service commented on #106
In GitLab by @pingiun on Oct 16, 2019, 21:06

closed via merge request !384

[2020-03-11 17:42] thaliawww-service commented on #106
In GitLab by @pingiun on Oct 16, 2019, 21:06

mentioned in commit a967e573da1ab7d23b422af66f92878c90e5d8e0

[2020-03-11 17:42] #106 closed

[2020-03-11 17:42] thaliawww-service opened #107 "Export events directly to calendar"
In GitLab by @se-bastiaan on Jun 3, 2019, 17:33

### One-sentence description

Export events directly to calendar

### Motivation

Make it easy to add an event if you don't want to use an iCal feed.

### Desired functionality

Use the share option of events to open Google Calendar and add it directly to an agenda of choice.

[2020-03-11 17:42] thaliawww-service commented on #107
In GitLab by @se-bastiaan on Jun 13, 2019, 23:36

Can use https://github.com/vonovak/react-native-add-calendar-event

[2020-03-11 17:42] thaliawww-service commented on #107
In GitLab by @se-bastiaan on Jun 26, 2019, 19:32

Another option would be writing an ical file to disk and opening it I think.

[2020-03-11 17:42] thaliawww-service commented on #107
In GitLab by @KiOui on Feb 19, 2020, 20:51

assigned to @KiOui

[2020-03-11 17:42] thaliawww-service opened #108 "Typo in notification type description"
In GitLab by @JobDoesburg on Jun 19, 2019, 23:51

### One-sentence description

Omg a typo

### Current behaviour / Reproducing the bug
![DC56FE60-E6D9-4091-8E59-37C78996ABA7](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/cf0dfeae3ac32b0fafe520aa7f46852c/DC56FE60-E6D9-4091-8E59-37C78996ABA7.jpeg)

### Expected behaviour

[2020-03-11 17:42] thaliawww-service commented on #108
In GitLab by @se-bastiaan on Jun 22, 2019, 18:39

moved to concrexit#894

[2020-03-11 17:42] #108 closed

[2020-03-11 17:42] thaliawww-service opened #109 "Save images from app to phone"
In GitLab by @se-bastiaan on Jun 22, 2019, 11:20

### One-sentence description

The ability to save photos from the app to your phone.

### Motivation

Useful feature, website has it too

### Desired functionality

Save button

[2020-03-11 17:42] thaliawww-service commented on #109
In GitLab by @lukovdm on Aug 28, 2019, 21:36

closed via merge request !333

[2020-03-11 17:42] thaliawww-service commented on #109
In GitLab by @lukovdm on Aug 28, 2019, 21:36

mentioned in commit 961806bd10e12f53c6066dfaa5a13327a1aa4a3a

[2020-03-11 17:42] #109 closed

[2020-03-11 17:42] thaliawww-service opened #110 "Search in photo albums"
In GitLab by @se-bastiaan on Jun 22, 2019, 11:21

### One-sentence description

Ability to search for photo albums in the photos section

### Motivation

Easier navigation

### Desired functionality

Search button and input field

### Suggested implementation

Like the member list?

[2020-03-11 17:42] thaliawww-service commented on #110
In GitLab by @se-bastiaan on Jun 22, 2019, 19:06

closed via merge request !304

[2020-03-11 17:43] thaliawww-service commented on #110
In GitLab by @se-bastiaan on Jun 22, 2019, 19:06

mentioned in commit dbd8ca9aeba308dcb05b5e61d45bb8145607381a

[2020-03-11 17:43] #110 closed

[2020-03-11 17:43] thaliawww-service opened #111 "Add in-app bug reporting"
In GitLab by @se-bastiaan on Jun 26, 2019, 21:06

### One-sentence description

Add in-app bug reporting

### Motivation

So that people don't need to open the website

### Desired functionality

Option in settings to send app feedback

[2020-03-11 17:43] thaliawww-service commented on #111
In GitLab by @KiOui on Oct 16, 2019, 21:08

assigned to @KiOui

[2020-03-11 17:43] thaliawww-service opened #112 "Receive the newsletter"
In GitLab by @se-bastiaan on Jun 26, 2019, 21:25

### One-sentence description

Receive the newsletter

### Motivation

Useful new channel for promotion.

### Desired functionality

Receive and open the newsletter

[2020-03-11 17:43] thaliawww-service commented on #112
In GitLab by thijsdejong on Sep 11, 2019, 21:00

moved to concrexit#922

[2020-03-11 17:43] #112 closed

[2020-03-11 17:43] thaliawww-service opened #113 "Dark mode"
In GitLab by @se-bastiaan on Jun 26, 2019, 21:32

### One-sentence description

A dark mode for the app

### Motivation

Because lots of apps + Android and iOS do it.

### Desired functionality

Dark/Black version of the app

### Suggested implementation

Dark, darker, darkest.

[2020-03-11 17:43] thaliawww-service commented on #113
In GitLab by @JobDoesburg on Jun 30, 2019, 15:04

Why not for the website as well? Or a styled admin?

[2020-03-11 17:43] thaliawww-service commented on #113
In GitLab by @se-bastiaan on Jun 30, 2019, 15:34

I haven't seen a lot of websites implement this. It seems logical for an app, and easier to implement due to the way styling is setup. I don't get what you mean by a styled admin.

[2020-03-11 17:43] thaliawww-service commented on #113
In GitLab by @JobDoesburg on Jun 30, 2019, 15:36

DigiD currently does this

With styled admin I mean that all thalia.nu/admin pages are styled in nice white/black/magenta colors instead of standard Django blue/green (but probably this is quite infeasible).

[2020-03-11 17:43] thaliawww-service commented on #113
In GitLab by @se-bastiaan on Jun 30, 2019, 15:44

DigiD only is hardly a great representation of the internet though :p
I'd rather say the implementations of Twitter and YouTube are more representative.
At least the last one has a good reason (dark environments). The whole idea of dark mode on mobile phones is to save battery I think, which is why I thought of the app first.

That would be more an

[2020-03-11 17:43] thaliawww-service commented on #113
In GitLab by @JobDoesburg on Jun 30, 2019, 15:44

Yeah its just a random idea

[2020-03-11 17:43] thaliawww-service commented on #113
In GitLab by thijsdejong on Sep 25, 2019, 20:50

assigned to (at)thijsdejong

[2020-03-11 17:43] thaliawww-service commented on #113
In GitLab by thijsdejong on Sep 25, 2019, 21:00

unassigned (at)thijsdejong

[2020-03-11 17:43] thaliawww-service opened #114 "Action Required: Fix Renovate Configuration"
In GitLab by _thaliatechnicie on Jul 17, 2019, 16:22

There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop MRs until it is resolved.

Error type: Preset name not found within published preset config (monorepo:aws-cdk). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2020-03-11 17:43] thaliawww-service commented on #114
In GitLab by _thaliatechnicie on Jul 17, 2019, 17:22

closed

[2020-03-11 17:43] #114 closed

[2020-03-11 17:43] thaliawww-service opened #115 "Cannot clear event information fields"
In GitLab by @se-bastiaan on Aug 2, 2019, 10:37

### One-sentence description

Cannot clear event information fields

### Current behaviour / Reproducing the bug

1. Go to an event with information fields, one should be a text input
2. Input text
3. Save
4. Go back to information update screen
5. Clear the text
6. Save
7. Go back to information update screen

The input is filled again with the pre

[2020-03-11 17:43] thaliawww-service commented on #115
In GitLab by thijsdejong on Sep 11, 2019, 21:03

closed

[2020-03-11 17:43] #115 closed

[2020-03-11 17:43] thaliawww-service opened #116 "Checkbox help text shows 'undefined'"
In GitLab by @se-bastiaan on Aug 2, 2019, 10:39

### One-sentence description

Checkbox help text shows 'undefined'

### Current behaviour / Reproducing the bug

1. Create an event with information fields. One field should be a checkbox (not required) and one a text field (also not required)
2. Open the event info update in the app for your registration of this event
3. Add text to the text field

[2020-03-11 17:43] thaliawww-service commented on #116
In GitLab by @KiOui on Sep 25, 2019, 20:27

assigned to @KiOui

[2020-03-11 17:43] thaliawww-service commented on #116
In GitLab by @gijshendriksen on Oct 2, 2019, 20:58

closed via merge request !389

[2020-03-11 17:43] thaliawww-service commented on #116
In GitLab by @gijshendriksen on Oct 2, 2019, 20:58

mentioned in commit 611d8cceaea8653f111d893168282bb9f325fc0d

[2020-03-11 17:43] #116 closed

[2020-03-11 17:43] thaliawww-service opened #117 "Push notifications don't show content only title twice"
In GitLab by @JobDoesburg on Aug 27, 2019, 16:29

### One-sentence description

At least on iOS, a push notifications show the title both as content and title of the notification.

### Current behaviour / Reproducing the bug

1. Send a push notification
2. Receive it
3. You see that on the phone, the title and content are the same (the title). The content is not visible

### Expected behaviour

Sh

[2020-03-11 17:43] thaliawww-service commented on #117
In GitLab by @se-bastiaan on Aug 27, 2019, 16:39

moved to concrexit#906

[2020-03-11 17:43] #117 closed

[2020-03-11 17:43] thaliawww-service opened #118 "Beschrijving van begunstiger zegt "Dit lid heeft...""
In GitLab by apater on Aug 29, 2019, 16:39

### One-sentence description

De beschrijving van een begunstiger zegt "Dit lid heeft...", terwijl het dus geen lid is, maar een begunstiger.

### Current behaviour / Reproducing the bug

1. Open de ThaliApp
2. Zoek een begunstiger die nog geen omschrijving heeft toegevoegd, bijvoorbeeld Rian Aarts
3. Lees de beschrijving "Dit lid heeft nog geen..."
4. C

[2020-03-11 17:43] thaliawww-service commented on #118
In GitLab by thijsdejong on Sep 11, 2019, 20:50

In theory is a benefactor a type of member/lid, so when it says member/lid, this is technically correct.

[2020-03-11 17:43] thaliawww-service commented on #118
In GitLab by thijsdejong on Sep 11, 2019, 20:50

closed

[2020-03-11 17:43] #118 closed

[2020-03-11 17:43] thaliawww-service opened #119 "Map causes crash"
In GitLab by @DeD1rk on Oct 2, 2019, 16:33

### One-sentence description

When you try to open the map in an event, the app crashes, instead of opening the map in some other app (on iOS (not tested on android)

### Current behaviour / Reproducing the bug

1. Open an event
2. Tap the map
3. Breakage

[Screen recording](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/b0de8341e33d10dd98bb65b41b

[2020-03-11 17:43] thaliawww-service commented on #119
In GitLab by @gijshendriksen on Oct 8, 2019, 15:22

Can confirm that this is also an issue on Android.

[2020-03-11 17:43] thaliawww-service commented on #119
In GitLab by @DeD1rk on Oct 16, 2019, 19:48

assigned to @DeD1rk

[2020-03-11 17:43] thaliawww-service commented on #119
In GitLab by @DeD1rk on Oct 16, 2019, 19:48

created merge request !392 to address this issue

[2020-03-11 17:43] thaliawww-service commented on #119
In GitLab by @gijshendriksen on Nov 6, 2019, 19:07

closed via merge request !392

[2020-03-11 17:43] thaliawww-service commented on #119
In GitLab by @gijshendriksen on Nov 6, 2019, 19:07

mentioned in commit 6a84dfb1f39829ae6e83de7e663e30edaab68d18

[2020-03-11 17:43] #119 closed

[2020-03-11 17:43] thaliawww-service opened #120 "iOS text fields are unclear"
In GitLab by @KiOui on Oct 2, 2019, 20:30

### One-sentence description

The iOS app has unclear text input fields

### Current behaviour / Reproducing the bug

Edit registration on any event on the iOS app, if no text (or default text) is entered within the text fields of the iOS app, text fields can't be distinguished from blank space.

### Expected behaviour

Text fields should display a line o

[2020-03-11 17:43] thaliawww-service commented on #120
In GitLab by @gijshendriksen on Oct 16, 2019, 20:26

closed via merge request !391

[2020-03-11 17:44] thaliawww-service commented on #120
In GitLab by @gijshendriksen on Oct 16, 2019, 20:26

mentioned in commit 5f9c9df991b803c9344f4f6e56c2711527765406

[2020-03-11 17:44] #120 closed

[2020-03-11 17:44] thaliawww-service opened #121 "Edit profile in app"
In GitLab by @DeD1rk on Oct 16, 2019, 16:24

### One-sentence description

Allow people to edit their profile in the app.

### Motivation

It would be nice to be able to do almost anything in the app, (if it's too much work, maybe add a link to the website).
For example, if you can edit your profile picture in the app (so easily & from your phone) more members will get profile pictures.

### Desir

[2020-03-11 17:44] thaliawww-service commented on #121
In GitLab by @se-bastiaan on Oct 16, 2019, 16:25

You can already edit your profile picture in the next release #58

[2020-03-11 17:44] thaliawww-service commented on #121
In GitLab by @DeD1rk on Nov 6, 2019, 19:07

closed

[2020-03-11 17:44] #121 closed

[2020-03-11 17:44] thaliawww-service opened #122 "Cannot login on Android"
In GitLab by @Legosteen11 on Oct 22, 2019, 13:04

### One-sentence description

I cannot log in to my Thalia account in the app on my phone running Android 9.

### Current behaviour / Reproducing the bug

Open the app. Try to log in. Get bar on the bottom that says: "Login Failed"

1. Open the app
2. Enter credentials (they work in the thalia.nu)
3. Click login
4. Get bar on the bottom that says:

[2020-03-11 17:44] thaliawww-service commented on #122
In GitLab by @thomwiggers on Oct 22, 2019, 13:23

Also on iOS

[2020-03-11 17:44] thaliawww-service commented on #122
In GitLab by @Legosteen11 on Oct 22, 2019, 13:41

closed via merge request concrexit!1385

[2020-03-11 17:44] thaliawww-service commented on #122
In GitLab by @Legosteen11 on Oct 22, 2019, 13:41

mentioned in commit concrexit(at)d05238600b782a03d8f070452a84c3704220017f

[2020-03-11 17:44] thaliawww-service commented on #122
In GitLab by @Legosteen11 on Oct 22, 2019, 13:46

mentioned in commit concrexit(at)0ffd0f80631733a126a02c015d573e0f3ef2de87

[2020-03-11 17:44] #122 closed

[2020-03-11 17:44] thaliawww-service opened #123 "App Crash"
In GitLab by pscattolin on Oct 31, 2019, 15:40

### One-sentence description

App crash on Android 8.1

### Current behaviour / Reproducing the bug

1. Open app
2. Back button (arrow) until you exit the app
3. Try to Open the app again
4. Crash

### Expected behaviour

[2020-03-11 17:44] thaliawww-service commented on #123
In GitLab by @se-bastiaan on Oct 31, 2019, 15:42

I am guessing that this is issue https://sentry.io/share/issue/4f144b333dc84469839055086ca2414e/
which has been solved a long time but we haven't released yet.

[2020-03-11 17:44] thaliawww-service commented on #123
In GitLab by @gijshendriksen on Nov 13, 2019, 20:33

Last Wednesday (November 4th), we released a new version of the app, in which the problem should have been fixed. We're closing this issue now, but feel free to let us know if the problem persists. Thanks for reporting it!

[2020-03-11 17:44] thaliawww-service commented on #123
In GitLab by @gijshendriksen on Nov 13, 2019, 20:33

closed

[2020-03-11 17:44] thaliawww-service commented on #123
In GitLab by pscattolin on Nov 13, 2019, 20:36

reopened

[2020-03-11 17:44] thaliawww-service commented on #123
In GitLab by pscattolin on Nov 13, 2019, 20:37

All good thanks :)

[2020-03-11 17:44] thaliawww-service commented on #123
In GitLab by pscattolin on Nov 13, 2019, 20:37

closed

[2020-03-11 17:44] #123 closed

[2020-03-11 17:44] thaliawww-service opened #124 "User cannot deregister after deregistration deadline"
In GitLab by @pingiun on Nov 11, 2019, 13:18

### One-sentence description

User cannot deregister after deregistration deadline

### Current behaviour / Reproducing the bug

1. Register for an event
2. Wait for deregistration deadline
3. Try to deregister, knowing that you will be fined
4. There is no deregistration button

### Expected behaviour

Just like on the website, you should be able to d

[2020-03-11 17:44] thaliawww-service commented on #124
In GitLab by @gijshendriksen on Feb 5, 2020, 20:22

Cannot reproduce. The deregistration button is visible to me after the deregistration deadline.

[2020-03-11 17:44] thaliawww-service commented on #124
In GitLab by @gijshendriksen on Feb 5, 2020, 20:22

closed

[2020-03-11 17:44] #124 closed

[2020-03-11 17:44] thaliawww-service opened #125 "Deregistration disclaimer text visible if not registered for event at all"
In GitLab by @JobDoesburg on Nov 15, 2019, 11:53

### One-sentence description

The text stating you cannot deregister without paying a fine is always visible, also if you are not registered

### Current behaviour / Reproducing the bug

s![IMG_753FFE892ACD-1](https://gitlab.science.ru.nl//thalia/thaliapp/uploads/547fd34dc09e2c45c9360b280b892e16/IMG_753FFE892ACD-1.jpeg)

### Expected behaviour

Onl

[2020-03-11 17:44] thaliawww-service commented on #125
In GitLab by @gijshendriksen on Nov 15, 2019, 12:07

I'd argue it's actually useful to have that text there, as an extra reminder to people that they shouldn't register anymore without thinking twice

[2020-03-11 17:44] thaliawww-service commented on #125
In GitLab by @JobDoesburg on Nov 15, 2019, 12:16

I think the app should mimic the website on this, so such a feature should be added to the website first then

[2020-03-11 17:44] thaliawww-service commented on #125
In GitLab by @DeD1rk on Nov 27, 2019, 19:34

created merge request !401 to address this issue

[2020-03-11 17:44] thaliawww-service commented on #125
In GitLab by @gijshendriksen on Nov 27, 2019, 19:53

Agreed. I'm all for adding this text to the website and keeping it in the app.

[2020-03-11 17:44] thaliawww-service commented on #125
In GitLab by @gijshendriksen on Feb 5, 2020, 19:38

moved to concrexit#1008

[2020-03-11 17:44] #125 closed

[2020-03-11 17:44] thaliawww-service opened #126 "App doesn't load anything"
In GitLab by @gijshendriksen on Nov 28, 2019, 20:08

### One-sentence description

Nothing loads. Occurs on OnePlus 6, bootloader unlocked (no root). No custom ROM.
### Current behaviour / Reproducing the bug

Dont know how yo reproduce, can login but cant logout or do anything

### Expected behaviour

Yah seems fairly obvious

[2020-03-11 17:44] thaliawww-service opened #127 "Show website sliders in app"
In GitLab by @JobDoesburg on Jan 6, 2020, 15:46

### One-sentence description

Show website sliders in app

### Motivation

We use sliders to promote activities that require more promo. The app does not show this right now

### Desired functionality

The welcome screen could include a banner. And possibly the detailed event view could include them as well, but not sure whether that will look good.

[2020-03-11 17:44] thaliawww-service opened #128 "Build Docker image not being updated"
In GitLab by @joren485 on Feb 8, 2020, 16:22

### Description
[`thalia/android-react-native`](https://hub.docker.com/r/thalia/android-react-native) (the Docker image used to build the app in CI) is not being updated automatically. This means that builds are being done with a (very) outdated image.

### Suggested Implementation
Either use an existing Docker image (e.g. [`reactnativecommunity/react-

[2020-03-11 17:44] thaliawww-service commented on #128
In GitLab by @se-bastiaan on Feb 8, 2020, 16:30

The build using that image actually always fails so we don't really depend on it. I did not know there was a community image though, that's nice if it's up-to-date!

[2020-03-11 17:44] thaliawww-service commented on #128
In GitLab by @se-bastiaan on Feb 13, 2020, 08:43

closed via merge request !405

[2020-03-11 17:44] thaliawww-service commented on #128
In GitLab by @se-bastiaan on Feb 13, 2020, 08:43

mentioned in commit ce77f77b7a39530be71ef8f61c29393f6be0f1ba

[2020-03-11 17:44] #128 closed

[2020-03-11 19:24] KiOui commented on #107
On adjusting anything on the admin screen (both for events and pizza), the screen pulls down (on iOS).

Fix by altering the global state.

[2020-03-11 19:53] JobDoesburg opened #133 "App crash on receiving notification"
### Describe the bug
App crash on receiving notification

### How to reproduce
1. Open app
2. Receive notification
3. Profit

### Expected behaviour
Not crash but show notification

[2020-03-11 19:57] se-bastiaan opened #134 "Improve GitHub Actions workflow"
### Describe the change
The GitHub Actions workflow can be improved with for example Android builds.

### Motivation
We had this in GitLab but it was removed because it was never working. Before we also had Buddybuild and this has all degraded over time. Now that we are on GitHub we can set this up again.

[2020-03-11 21:39] DeD1rk opened #135 "Committee / Society tab"
As the app is becoming a more and more complete thing, people are starting to miss the committees page.

### The solution
A new tab in the sidebar, to a list of committees and societies, and pages for the committees showing the members, like on concrexit.

[2020-09-02 21:37] dutchmartin commented on #113
Currently, adding a Profile photo with dark mode enabled on iOS, displays black text on a black background:
![7C55ACF4-1AC2-4F78-8E5F-F6CE72543AEC](https://user-images.githubusercontent.com/5509155/92039123-d6906d00-ed74-11ea-9ce6-49324ffdf00f.jpeg)
And thus it looks odd.

[2020-09-03 06:24] se-bastiaan opened #139 "File picker does not support dark mode"
Currently, adding a Profile photo with dark mode enabled on iOS, displays black text on a black background:
![7C55ACF4-1AC2-4F78-8E5F-F6CE72543AEC](https://user-images.githubusercontent.com/5509155/92039123-d6906d00-ed74-11ea-9ce6-49324ffdf00f.jpeg)
And thus it looks odd.

_Originally posted by @dutchmartin in https://github.com/svthalia/ThaliApp/issues/113#issuecomment-686042854_

[2020-09-03 06:25] se-bastiaan commented on #139
It looks like we just need to update the dependency for the file picker since was fixed: https://github.com/ivpusic/react-native-image-crop-picker/releases/tag/v0.25.3

[2020-09-12 19:21] JobDoesburg opened #140 "Weird scroll bar"
![C0E45932-9D82-487C-B494-61112887D3E4](https://user-images.githubusercontent.com/7915741/93003305-cd09c080-f53d-11ea-8d70-063cf2dbca31.png)

On iPhone 11, albums have a weird scroll bar...

[2020-09-23 22:22] se-bastiaan opened #141 "Authentication using OAuth2"
### Is your feature request related to a problem? Please describe.

We have a new authentication solution in concrexit that is using the OAuth standards. The app currently does not use this standard for authentication.

### Describe the solution you'd like

Replace the existing authentication solution with OAuth2 and it's refresh tokens.

### Motivation

It is better practice than what we have now

[2020-09-24 05:59] #94 closed

[2020-09-27 07:19] KiOui opened #142 "React-navigation should be upgraded to the newest version"
### Describe the change
React-navigation is currently at version 4.x and should be upgraded to the newest version 5.x.

A tutorial for updating to the newest version is here: https://reactnavigation.org/docs/upgrading-from-4.x/

[2020-10-05 19:14] DeD1rk opened #145 "Create install script"
### Describe the change
A simple install script that sets up a developing environment for the app.

### Motivation
This way we can actually work on the app, instead of trying to set it up and wasting everyone's time.

### Current implementation
When someone wants to work on the app, they ask someone more skilled what they should type in the terminal.

### Suggested implementation
Make a little `in

[2020-10-07 17:38] KiOui opened #146 "eventScreen shows warning about FlatLists inside Scrollview"
### Describe the bug
eventScreen shows warning about FlatLists inside Scrollview (https://nyxo.app/fixing-virtualizedlists-should-never-be-nested-inside-plain-scrollviews).

### How to reproduce
Go to any event screen

### Expected behaviour
The warning message should not appear

[2020-10-10 16:23] se-bastiaan commented on #145
Currently the steps should look like this:
1. Install the node version manager: https://github.com/nvm-sh/nvm
2. Use nvm to install Node 12
3. Install yarn using `npm install -g yarn`
4. Install the native SDKs
  1. For Android this means you have to download Android Studio or the Android Command Line tools and use it to install the Android build tools currently noted here: https://github.com/svth

[2020-10-10 20:33] KiOui commented on #134
Maybe add an iOS build as well?

[2020-10-10 20:48] se-bastiaan commented on #139
We updated the deps so this can be closed

[2020-10-10 20:48] #139 closed

[2020-10-10 20:49] se-bastiaan commented on #134
Yes, I already tried something but iOS seems really hard https://github.com/svthalia/ThaliApp/tree/ios-build

[2020-10-14 20:26] se-bastiaan opened #167 "Moment.js is deprecated"
### Describe the change

We should stop using Moment.js

### Motivation

It is basically deprecated: https://momentjs.com/docs/#/-project-status/

### Current implementation

[2020-10-17 14:53] se-bastiaan opened #189 "Photos in photo albums are rotated"
### Describe the bug

Photos in photo albums are rotated.

### How to reproduce
Steps to reproduce the behaviour:
1. Search for the Bingo night album
2. Open the first photo
3. It is rotated

### Expected behaviour
Show the photo in the correct orientation.

[2020-10-19 11:03] #107 closed

[2020-10-26 20:54] gijshendriksen commented on #97
@DeD1rk are you still working on this? If not, I'd like to pick it up :innocent:

[2020-10-26 20:57] DeD1rk commented on #97
If I recall correctly, it was basically ready to merge when corona struck. I think next week I’ll be doing the tape so feel free to finish it!

[2020-10-26 20:59] se-bastiaan commented on #97
It was left in gitlab https://gitlab.science.ru.nl/thalia/ThaliApp/-/merge_requests/398

[2020-10-26 21:36] gijshendriksen commented on #97
Cool, thanks!

[2020-10-29 14:32] renovate[bot] opened #209 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error: expecting end of expression or separator near
    {
   `

[2020-10-31 13:15] #97 closed

[2020-10-31 13:20] #209 closed

[2020-11-03 16:09] se-bastiaan opened #220 "Scrolling in the events list does not work when starting on header"
### Describe the bug
Scrolling in the events list does not work when starting on header

### How to reproduce
Steps to reproduce the behaviour:
1. Easiest is to search for 'weekend'
2. Press on a header, like 'april 2017' and start scrolling
3. It does not move

### Expected behaviour
It should scroll

[2020-11-03 16:12] se-bastiaan opened #221 "Items visible behind header on welcome screen"
### Describe the bug

Text is visible when scrolling on the welcome screen behind the "today" headee

### How to reproduce
Steps to reproduce the behaviour:
1. Go to the welcome screen
2. Scroll down some
3. See the text at the top visible

### Expected behaviour
No transparent headers

### Screenshots
https://photos.app.goo.gl/PjBUMTyNWLCNcka59

[2020-11-03 16:37] se-bastiaan opened #222 "Strike-through in event descriptions not working"
### Describe the bug

Strike-through in event descriptions not working

### How to reproduce
Steps to reproduce the behaviour:
1. Go to the event for https://thalia.nu/events/650/ in the app
2. Check that the description does not match because the text is not strike-through

[2020-11-03 16:39] #126 closed

[2020-11-03 16:39] #134 closed

[2020-11-05 16:31] se-bastiaan commented on #133
https://imgshare.io/image/screenshot-20201105-172808.NTXP0Z

I think this is also a problem on android

[2020-11-14 13:26] se-bastiaan commented on #189
It is really, really hard to change the rotation of an image since the zooming feature that we use does some cropping based on the image size

[2020-11-17 08:29] se-bastiaan commented on #167
Maybe this is a good alternative: https://github.com/iamkun/dayjs

[2020-11-23 19:19] #221 closed

[2020-11-24 07:24] #220 closed

[2020-11-24 07:28] #222 closed

[2020-11-30 19:31] #133 closed